{% import 'macros/nav_macros.html' as nav %}

<!DOCTYPE html>
<html>

<head>
  {% include 'partials/_head.html' %}
  {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
  {% block custom_head_tags %}{% endblock %}
</head>

<body>
  <!-- Dropdown menu to access managers if user is admin -->
  {% if current_user.is_admin() %}
  {% set dropdown =
  [
  (('Request Manager', 'handshake outline'),
  [
  ('admin.create_request', 'Create Request', 'plus'),
  ('admin.search_request', 'Search Requests', 'search')

  ]),
  (current_user.role.index + '.people_manager', 'People Manager', 'address book')
  ]
  %}
  {% endif %}

  {% block nav %}
  {# add dropdown variable here to the render_nav method to render dropdowns #}
  {{ nav.render_nav(current_user, dropdown=dropdown) }}
  {% endblock %}

  {% include 'partials/_flashes.html' %}
  {# When extended, the content block contains all the html of the webpage #}
  {% block content %}
  {% endblock %}

  {# Implement CSRF protection for site #}
  {% if csrf_token()|safe %}
  <div style="visibility: hidden; display: none">
    <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
  </div>
  {% endif %}
</body>

</html>