{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

<!-- Macros -->
{% macro dashboard_option(title, endpoint,
description=None, icon=None) %}
<a class="column" href="{{ url_for(endpoint) }}">
  <div class="ui padded segment">
    <h3 class="ui header">
      {% if icon is not none %}
      <i class="{{ icon }}"></i>
      {% endif %}
      <div class="content">
        {{ title }} {% if description is not none %}
        <div class="sub header">{{ description }}</div>
        {% endif %}
      </div>
    </h3>
  </div>
</a>
{% endmacro %}

{% macro member_card(m) %}
<div class="content">
  {% if m.middle_initial %}
  {% set name = m.first_name + ' ' + m.middle_initial + '. ' + m.last_name %}
  {% else %}
  {% set name = m.first_name + ' ' + m.last_name %}
  {% endif %}
  <div class="header">
    <text class="m-identity">{{ name + " (" + m.member_number|string + ")"}}</text>
    <i class="trash alternate outline icon right floated delete-member" style="cursor: pointer" id={{m.id}}></i>

    <div class="ui modal" id='modal-deletem-{{m.id}}'>
      <div class="header">Delete Member</div>
      <div class="content">Would you like to delete Member [{{m.first_name + ' ' + m.last_name}}]?</div>
      <div class="actions">
        <div class="positive ui approve button"
          onclick="window.location.href = '{{ url_for('admin.delete_member', member_id=m.id) }}';">
          Yes
        </div>
        <div class="negative ui deny button">No</div>
      </div>
    </div>

    <i class="pencil icon right floated" style="cursor: pointer"
      onclick="window.location.href = '{{ url_for('admin.invite_member', member_id=m.id) }}';">
    </i>
  </div>
</div>
{% endmacro %}

{% macro volunteer_card(v) %}
{% if v.middle_initial %}
  {% set name = v.first_name + ' ' + v.middle_initial + '. ' + v.last_name %}
{% else %}
  {% set name = v.first_name + ' ' + v.last_name %}
{% endif %}
<div class="content">
  <div class="header">
    <text class="v-identity">{{ name }}</text>
    <i class="trash alternate outline icon right floated delete-volunteer" style="cursor: pointer" id={{v.id}}></i>

    <div class="ui modal" id='modal-deletev-{{v.id}}'>
      <div class="header">Delete Volunteer</div>
      <div class="content">Would you like to delete Volunteer [{{v.first_name + ' ' + v.last_name}}]?</div>
      <div class="actions">
        <div class="positive ui approve button"
          onclick="window.location.href = '{{ url_for('admin.delete_volunteer', volunteer_id=v.id) }}';">
          Yes
        </div>
        <div class="negative ui deny button">No</div>
      </div>
    </div>

    <i class="clock outline icon right floated" style="cursor: pointer"
      onclick="window.location.href = '{{ url_for('admin.add_availability_volunteer', volunteer_id=v.id) }}';"></i>
    <i class="calendar minus outline icon right floated" style="cursor: pointer"
      onclick="window.location.href = '{{ url_for('admin.add_volunteer_vacation', volunteer_id=v.id) }}';"></i>
    <i class="check square outline icon right floated" style="cursor: pointer"
      onclick="window.location.href = '{{ url_for('admin.add_volunteer_vetting', volunteer_id=v.id) }}';"></i>
    <i class="handshake outline icon right floated" style="cursor: pointer"
      onclick="window.location.href = '{{ url_for('admin.add_volunteer_services', volunteer_id=v.id) }}';"></i>
    <i class="pencil icon right floated" style="cursor: pointer"
      onclick="window.location.href = '{{ url_for('admin.invite_volunteer', volunteer_id=v.id) }}';">
    </i>
  </div>
</div>
<div class="content ui grid" style="padding:0">

  <div class="four wide column">
    <div class="ui label">
      {% if v.type_id == 0 %}
      Member Volunteer
      {% else %}
      Non-Member Volunteer
      {% endif %}
    </div>
  </div>
  <div class="four wide column">
    {% if v.is_fully_vetted %}
    <div class="ui label green">
      <i class="check icon"></i>Fully Vetted
    </div>
    {% else %}
    <div class="ui label red">
      <i class="x icon"></i>Not Fully Vetted
    </div>
    {% endif %}
  </div>
  <div class="four wide column">
  </div>
  <div class="four wide column right aligned">
    {{v.primary_phone_number}}
  </div>
</div>
{% endmacro %}

{% macro local_resource_card(lr) %}
<div class="content">
  <div class="header">
    <text class="lr-identity">{{lr.company_name}}</text>
    <i class="trash alternate outline icon right floated delete-local-resource" style="cursor: pointer" id={{lr.id}}></i>

    <div class="ui modal" id='modal-deletelr-{{lr.id}}'>
      <div class="header">Delete Local Resource</div>
      <div class="content">Would you like to delete Local Resource [{{lr.company_name}}]?</div>
      <div class="actions">
        <div class="positive ui approve button"
          onclick="window.location.href = '{{ url_for('admin.delete_local_resource', local_resource_id=lr.id) }}';">
          Yes
        </div>
        <div class="negative ui deny button">No</div>
      </div>
    </div>

    <i class="comment outline icon right floated" style="cursor: pointer"
      onclick="window.location.href = '{{ url_for('admin.add_local_resource_review', local_resource_id=lr.id) }}';"></i>
    <i class="clock outline icon right floated" style="cursor: pointer"
      onclick="window.location.href = '{{ url_for('admin.add_availability_local_resource', local_resource_id=lr.id) }}';"></i>
    <i class="pencil icon right floated" style="cursor: pointer"
      onclick="window.location.href = '{{ url_for('admin.invite_local_resource', local_resource_id=lr.id) }}';"></i>
  </div>
</div>
<div class="content ui grid" style="padding:0">
  <div class="four wide column">
    {% if lr.contact_first_name and lr.contact_last_name %}
    <b>Contact:</b>
    {{lr.contact_first_name + ' ' + lr.contact_last_name}}
    {% else %}
    <i>No contact person</i>
    {% endif %}
  </div>
  <div class="eight wide column">
  </div>
  <div class="four wide column right aligned">{{lr.primary_phone_number}}</div>
</div>
{% endmacro %}

<!-- Content -->
{% block content %}
<div class="ui container">
  <h2 class="ui header">People Manager</h2>

  <div class="ui tabular menu">
    <a class="item" id = "member-tab-menu" data-tab="member">Members</a>
    <a class="item" id = "volunteer-tab-menu" data-tab="volunteer">Volunteers</a>
    <a class="item" id = "local-resource-tab-menu" data-tab="local-resource">Local Resources</a>
  </div>
  
  <!-- Member Tab -->
  <div class="ui tab" id = "member-tab" data-tab="member">
    <div class="ui stackable centered grid container">
      <div class="four wide column">
        {{ dashboard_option('Add Member', 'admin.invite_member', icon='add user icon') }}
        
        <!-- Search Box -->
        <h3>Search:</h3>
        <div class="ui search item">
          <div class="ui transparent icon input">
            <input id="search-member" type="text" placeholder="Enter name...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
      
      <!-- Search Results -->
      <div class="twelve wide column">
        <h3>Search Results</h3>
        <div class="ui segment member-search-results">
          {% for m in members %}
          <div class="ui fluid card" data-role={{"Member"}}>
            {{member_card(m)}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  <!-- Volunteer Tab -->
  <div class="ui tab" id = "volunteer-tab" data-tab="volunteer">
    <div class="ui stackable centered grid container">
      <div class="four wide column">
        {{ dashboard_option('Add Volunteer', 'admin.invite_volunteer', icon='add user icon') }}
        
        <!-- Search Box -->
        <h3>Search:</h3>
        <div class="ui search item">
          <div class="ui transparent icon input">
            <input id="search-volunteer" type="text" placeholder="Enter name...">
            <i class="search icon"></i>
          </div>
        </div>

        <!-- Filter Box -->
        <h3>Filters</h3>

        <!-- Vetting Status Filter -->
        <div class="attached ui top segment">
          <form class="ui form" id="member-filter-form">
            <div class="grouped fields">
              <label>Vetting Status:</label>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="volunteer_type" />
                  <label>Fully Vetted</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="volunteer_type" />
                  <label>Not Fully Vetted</label>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Volunteer Type Filter -->
        <div class="attached ui top segment">
          <form class="ui form" id="member-filter-form">
            <div class="grouped fields">
              <label>Volunteer Type:</label>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="volunteer_type" />
                  <label>Member</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="volunteer_type" />
                  <label>Non-Member</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Search Results -->
      <div class="twelve wide column">
        <h3>Search Results</h3>
        <div class="ui segment volunteer-search-results">
          {% for v in volunteers %}
          <div class="ui fluid card" data-role={{"Volunteer"}}>
            {{volunteer_card(v)}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Local Resource Tab -->
  <div class="ui tab" id="local-resource-tab" data-tab="local-resource">
    <div class="ui stackable centered grid container">
      <div class="four wide column">
        {{ dashboard_option('Add Local Resource', 'admin.invite_local_resource', icon='add user icon') }}
        
        <!-- Search Box -->
        <h3>Search:</h3>
        <div class="ui search item">
          <div class="ui transparent icon input">
            <input id="search-local-resource" type="text" placeholder="Enter name...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>

      <!-- Search Results -->
      <div class="twelve wide column">
        <h3>Search Results</h3>
        <div class="ui segment local-resource-search-results">
          {% for lr in local_resources %}
          <div class="ui fluid card" data-role={{"Local Resource"}}>
            {{local_resource_card(lr)}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script language='javascript'>

    $(document).ready(function(){
      $('.ui.checkbox').checkbox();
      $('.menu .item').tab();
      $('.ui .tab').removeClass('active');
      $("#{{ data.active }}-tab").addClass('active');
      $('.ui .tabular .menu').removeClass('active');
      $("#{{ data.active }}-tab-menu").addClass('active');
    });


    $('.tab #search-member').keyup(function () {
        var searchText = $(this).val();
        if (searchText.length > 0) {
          $('.m-identity:icontains(' + searchText + ')').addClass('positive');
          $('.m-identity.positive').not(':icontains(' + searchText + ')').removeClass('positive');
          $('.m-identity').not(':icontains(' + searchText + ')').closest('.card').addClass('hidden').hide();
          $('.card.hidden .m-identity:icontains(' + searchText + ')').removeClass('hidden').show();
        } else {
          $('.m-identity.positive').removeClass('positive');
          $('.card.hidden').removeClass('hidden').show();
        }
      });

      $('.tab #search-volunteer').keyup(function () {
        var searchText = $(this).val();
        if (searchText.length > 0) {
          $('.v-identity:icontains(' + searchText + ')').addClass('positive');
          $('.v-identity.positive').not(':icontains(' + searchText + ')').removeClass('positive');
          $('.v-identity').not(':icontains(' + searchText + ')').closest('.card').addClass('hidden').hide();
          $('.card.hidden .v-identity:icontains(' + searchText + ')').removeClass('hidden').show();
        } else {
          $('.v-identity.positive').removeClass('positive');
          $('.card.hidden').removeClass('hidden').show();
        }
      });

      $('.tab #search-local-resource').keyup(function () {
        var searchText = $(this).val();
        if (searchText.length > 0) {
          $('.lr-identity:icontains(' + searchText + ')').addClass('positive');
          $('.lr-identity.positive').not(':icontains(' + searchText + ')').removeClass('positive');
          $('.lr-identity').not(':icontains(' + searchText + ')').closest('.card').addClass('hidden').hide();
          $('.card.hidden .lr-identity:icontains(' + searchText + ')').removeClass('hidden').show();
        } else {
          $('.lr-identity.positive').removeClass('positive');
          $('.card.hidden').removeClass('hidden').show();
        }
      });

    $('.delete-member').click(function () {
      member_id = $(this).attr('id');
      $(`#modal-deletem-${member_id}`).modal('show');
    });

    $('.delete-volunteer').click(function () {
      volunteer_id = $(this).attr('id');
      $(`#modal-deletev-${volunteer_id}`).modal('show');
    });

    $('.delete-local-resource').click(function () {
      local_resource_id = $(this).attr('id');
      $(`#modal-deletelr-${local_resource_id}`).modal('show');
    });

  </script>

  {% endblock %}