{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% macro dashboard_option(title, endpoint,
description=None, icon=None) %}
<a class="column" href="{{ url_for(endpoint) }}">
  <div class="ui padded segment">
    <h3 class="ui header">
      {% if icon is not none %}
      <i class="{{ icon }}"></i>
      {% endif %}
      <div class="content">
        {{ title }} {% if description is not none %}
        <div class="sub header">{{ description }}</div>
        {% endif %}
      </div>
    </h3>
  </div>
</a>
{% endmacro %}

{% macro manage_volunteer() %}
<i class="clock outline icon right floated" style = "cursor: pointer"></i>
<i class="check square outline icon right floated" style = "cursor: pointer"></i>
<i class="handshake outline icon right floated" style = "cursor: pointer"></i>
<i class="pencil icon right floated"></i>
{% endmacro %}



{% block content %}
<div class="ui stackable centered grid container">
  <div class="four wide column">
    <h2>People Manager</h2>
  </div>
  <div class="twelve wide column">
    <div class="ui three column stackable grid">
      {{ dashboard_option('Add Member', 'admin.invite_member', icon='add user icon') }}
      {{ dashboard_option('Add Volunteer', 'admin.invite_volunteer', icon='add user icon') }}
      {{ dashboard_option('Add Local Resource', 'admin.invite_contractor', icon='add user icon') }}
    </div>
  </div>
</div>
<div class="ui stackable centered grid container">
  <div class="four wide column">
    <!-- <form class="ui form"> -->

    <h3>Filters</h3>

    <div class="attached ui top segment">
      <div class="ui secondary pointing menu three item">
        <!-- NOTE!!! RESIZING THIS IS NOT GREAT -->
        <a class="item active" id="member-menu-item">Members</a>
        <a class="item" id="volunteer-menu-item">Volunteers</a>
        <a class="item" id="local-resource-menu-item">Local Resources</a>
      </div>


      <form class="ui form" id="member-filter-form">
        <div class="grouped fields">
          <label>Volunteer Type:</label>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="volunteer_type" />
              <label>Member</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="volunteer_type" />
              <label>Non-Member</label>
            </div>
          </div>
        </div>

        <div class="ui field">
          <label>Name:</label>
          <input id="search-name" type="text" placeholder="Search name..." />
        </div>

        <div class="ui field">
          <label>Organization:</label>
          <input id="search-name" type="text" placeholder="Search organization..." />
        </div>


      </form>

      <form class="ui form" id="volunteer-filter-form">
        Volunteer Filter Form
      </form>

      <form class="ui form" id="local-resource-filter-form">
        Local Resource Filter Form
      </form>
    </div>
  </div>

  <div class="twelve wide column">
    <h3>Search Results</h3>
    <div class="ui segment">
      <div class="ui fluid card">
        <div class="content">
          <div class="header">Angela Jin
            {{ manage_volunteer() }}
          </div>

        </div>
        <div class="content">~info about person~</div>
      </div>

      <div class="ui fluid card">
        <div class="content">
          <div class="header">Alina Kim
            {{ manage_volunteer() }}
          </div>
        </div>


      </div>
    </div>
  </div>

   <!-- Service Categories Pop Up -->
  <div class="ui modal" id="services">
    <i class="close icon"></i>
    <div class="header">Services Provided By</div>
    <div class="ui styled fluid accordion">
      {% for category in service_categories %}
      <div class="title">
        <i class="dropdown icon"></i>
        {{ category[0] }}
      </div>
      <div class="content">
        {% for service in services %} {% if service[1] == category[1] %}
        <div class="transition hidden">
          <div class="ui checkbox">
            <input type="checkbox" name="example" />
            <label>{{ service[0] }}</label>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>  

  <!-- Vettings Pop Up -->
  <div class="ui modal" id="vettings">
    <i class="close icon"></i>
    <div class="ui center aligned header">Vettings</div>
        <div class="content" id = "Sofia">
          {% set flashes = 
            { 'error': get_flashed_messages(category_filter=['form-error']), 
            'warning': get_flashed_messages(category_filter=['form-check-email']), 
            'info': get_flashed_messages(category_filter=['form-info']), 
            'success': get_flashed_messages(category_filter=['form-success']) } 
          %} 
          {{ f.begin_form(add_vetting, flashes) }}
          <div class="ui two column stackable grid">
            <h3 class="eight wide column">Service Vettings</h3>
            <div class="eight wide column" style = "text-align:right"> 
              {{f.render_form_field(add_vetting.volunteer_fully_vetted_checkbox) }}
            </div>
          </div>

          <div class="ui attached segment">
            <h3 class="ui top attached header">
              Notes
            </h3>
            <div class="ui fluid attached segment">
              <p>{{f.render_form_field(add_vetting.vetting_notes)}}</p>
            </div>
            {{ f.form_message(flashes['error'], header='Something went wrong.',
            class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your
            email.', class='warning') }}
            {{ f.form_message(flashes['info'],
            header='Information', class='info') }}
            {{ f.form_message(flashes['success'],
            header='Success!', class='success') }} 
            {{ f.render_form_field(add_vetting.submit) }}
          </div>
        </div>
        {{ f.end_form() }}
    </div>
  </div>
  
  <!-- Availability Pop Up -->
  <div class="ui fullscreen modal" id="availability">
    <i class="close icon"></i>
    <div class="header">Add Availability</div>
    <div class="content">
      
      {% set flashes = 
        { 'error': get_flashed_messages(category_filter=['form-error']), 
        'warning': get_flashed_messages(category_filter=['form-check-email']), 
        'info': get_flashed_messages(category_filter=['form-info']), 
        'success': get_flashed_messages(category_filter=['form-success']) } 
      %} 

      {{ f.begin_form(add_availability, flashes) }}
      <table class="ui definition table">
        <thead>
          <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8AM - 11AM</td>
            <td>{{ f.render_form_field(add_availability.availability_m1) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_t1) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_w1) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_th1) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_f1) }}</td>
          </tr>
          <tr>
            <td>11AM - 2PM</td>
            <td>{{ f.render_form_field(add_availability.availability_m2) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_t2) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_w2) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_th2) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_f2) }}</td>
          </tr>
          <tr>
            <td>2PM - 5PM</td>
            <td>{{ f.render_form_field(add_availability.availability_m3) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_t3) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_w3) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_th3) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_f3) }}</td>
          </tr>
          <tr>
            <td>5PM - 8PM</td>
            <td>{{ f.render_form_field(add_availability.availability_m3) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_t3) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_w3) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_th3) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_f3) }}</td>
          </tr>
          <tr>
            <td>8PM - 12AM</td>
            <td>{{ f.render_form_field(add_availability.availability_m4) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_t4) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_w4) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_th4) }}</td>
            <td>{{ f.render_form_field(add_availability.availability_f4) }}</td>
          </tr>
        </tbody>
      </table>

      <div class="actions">
        {{ f.form_message(flashes['error'], header='Something went wrong.',
        class='error') }}
        {{ f.form_message(flashes['warning'], header='Check your
        email.', class='warning') }}
        {{ f.form_message(flashes['info'],
        header='Information', class='info') }}
        {{ f.form_message(flashes['success'],
        header='Success!', class='success') }}
        {{ f.render_form_field(add_availability.submit) }}
      </div>
      {{ f.end_form() }}
    </div>
  </div>

  <script language='javascript'>
    $(document).ready(function () {
      $('.ui.accordion').accordion();
    });


    $(document)
      .ready(function () {
        // seems a little sketch -- hard coded so that the "Members" is the first selected option.
        $('#volunteer-filter-form').hide()
        $('#local-resource-filter-form').hide()

        $('.ui.menu .ui.dropdown').dropdown({
          on: 'hover'
        });
        $('.ui.menu a.item')
          .on('click', function () {
            $(this)
              .addClass('active')
              .siblings()
              .removeClass('active')
              ;
          })
          ;

        // is there a cleaner way than to just list out all three cases?
        $('a.item#member-menu-item')
          .on('click', function () {
            // window.alert("HI");
            $('#member-filter-form')
              .show();
            $('#volunteer-filter-form')
              .hide();
            $('#local-resource-filter-form')
              .hide();
          })
          ;

        $('a.item#volunteer-menu-item')
          .on('click', function () {
            // if ($(this).hasClass('active')) {
            //   window.alert("Volunteer");
            // }
            $('#member-filter-form')
              .hide();
            $('#volunteer-filter-form')
              .show();
            $('#local-resource-filter-form')
              .hide();
          })
          ;

        $('a.item#local-resource-menu-item')
          .on('click', function () {
            // if ($(this).hasClass('active')) {
            //   window.alert("Volunteer");
            // }
            $('#member-filter-form')
              .hide();
            $('#volunteer-filter-form')
              .hide();
            $('#local-resource-filter-form')
              .show();
          })
          ;

      })

    $('i.handshake.outline.icon.right.floated').click(function () {
      $('#services').modal('show');
    });

    $('.ui.accordion').accordion({ exclusive: false });

    $('i.check.square.outline.icon.right.floated').click(function () {
      $('#vettings').modal('show');
    });
    
    $('#context1 .menu .item').tab({
     context: $('#context1'),
    });

    $('i.clock.outline.icon.right.floated').click(function () {
      $('#availability').modal('show');
    });

  </script>

  {% endblock %}


    