<p>Hello {{ volunteer.first_name + " " + volunteer.last_name }},</p>

<p>
{{ member.first_name + " " + member.last_name }} needs someone to provide {{ request_type }} as follows:
</p>

<p>
Short Description: {{ req_data.short_description }}
Requesting Member: {{ member.first_name + " " + member.last_name }}
                   {{ address.get(member.primary_address_id).address1 }}
                   {{ member.primary_phone_number }}
Starting Location: {{ req_data.starting_address }}
Date: {{ req_data.requested_date }}
Destination: {{ address.get(req_data.destination_address_id).address1 }}
Special Instructions: {{ req_data.special_instructions }}
</p>

<p>
Please let us know if you can help with this request, by replying to this email or calling the office at (607) 319-0162.
</p>

<p>Thank you for all you do,</p>
<p>Love Living at Home</p>
