{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint,
description=None, icon=None) %}
<a class="column" href="{{ url_for(endpoint) }}">
  <div class="ui padded segment">
    <h3 class="ui header">
      {% if icon is not none %}
      <i class="{{ icon }}"></i>
      {% endif %}
      <div class="content">
        {{ title }} {% if description is not none %}
        <div class="sub header">{{ description }}</div>
        {% endif %}
      </div>
    </h3>
  </div>
</a>
{% endmacro %}

{% block content %}
<style>
  .highlight {
    background-color: lightblue;
  }

  #calendar-body td:empty {
    cursor: text;
    border: none;
  }

  #calendar-body td {
    cursor: pointer;
  }

  #calendar thead {
    border-bottom: 2px solid #cecece;
  }

  #calendar th {
    border: none;
    text-align: center;
    padding: 0;
    width: 10%;
  }

  #calendar td {
    border: 1px solid rgba(0, 0, 0, .125);
    text-align: center;
    padding: 5px;
    width: 10%;
  }

  .previous {
    margin-top: 4%;
    margin-left: 2%;
  }

  .next {
    margin-top: 4%;
    margin-right: 2%;
  }

  .round {
    border-radius: 50%;
  }

  .month-selected {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }


  #calendar-header {
    margin-bottom: 0px;
    background-color: #e7e7e7;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
  }

  .header-row {
    background-color: lightgray;
    margin: 0px;
    padding: 5px;
  }

  #monthAndYear {
    border-bottom: none;
    background-color: transparent;
    padding-left: 14px;
    padding-right: 14px;
    display: none;
  }

  #previous,
  #next {
    color: darkslategrey;
  }

  .today-color {
    background-color: #D3D3D3;
  }

  #parent {
    border: 2px dotted rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 5px;
  }

  .buttonPanel td {
    border: none !important;
    padding: 6px 0 0 0 !important;
  }

  .buttonPanel td div:nth-of-type(odd) {
    padding: 5px;
    width: 100%;
    text-align: left;
  }

  .buttonPanel td div:nth-of-type(even) {
    padding: 5px;
    width: 100%;
    text-align: right;
  }

  .buttonPanel-row {
    margin: 0;
    border-top: 2px solid lightgray;
  }

  #calendarBody {
    cursor: pointer;
    user-select: none;
  }
</style>


<div class="ui container stackable grid centered">
  <div class="sixteen wide column">
    <h2 class="ui header">
      Admin Dashboard
    </h2>
    <h3>Account Manager</h3>
    <div class="ui three column stackable grid">
      {{ dashboard_option('Registered User', 'admin.registered_users',
      description='View and manage user accounts', icon='users icon') }}
      {{ dashboard_option('Add New User', 'admin.new_user',
      description='Create a new user account', icon='add user icon') }}
      {{ dashboard_option('Invite New User', 'admin.invite_user',
      description='Invites a new user to create their own account', icon='add user icon') }}
    </div>
    <hr />
    <h3>System Manager</h3>
    <div class="ui two column stackable grid">
      {{ dashboard_option('Edit Services', 'admin.registered_services',
      description='Add/Remove/Edit Services', icon='users icon') }}
      {{ dashboard_option('Edit Service Categories', 'admin.index',
      description='Add/Remove/Edit Service Categories', icon='add user icon') }}
      {{ dashboard_option('Edit Metro Areas', 'admin.registered_metro_areas',
      description='Add/Remove/Edit Metro Areas', icon='add user icon') }}
      {{ dashboard_option('Edit Destination Addresses', 'admin.index',
      description='Add/Remove/Edit Destination Addresses', icon='add user icon') }}
      {{ dashboard_option('Email Configuration', 'admin.index',
      description='Edit the email address from which LLH emails are sent.', icon='add user icon') }}
    </div>
    <h1>Report Integration</h1>
    <button class="ui inverted violet fluid button" id="show-report">
      Report
    </button>

    <div class="ui modal" id="report">
      <i class="close icon"></i>
      <div class="header">Generate Report</div>
      <div class="content">
        <div class="ui form">
          <div class="field">
            <label>Report Type</label>
            <select class="ui fluid dropdown">
              <option value="a">Completed Volunteer Services by Service Category</option>
            </select>
          </div>
          <div class="field">
            <label>Report File Name</label>
            <input type="text" name="filename" placeholder="Report">
          </div>
        </div>
        <hr />
        <div class="actions">
          <div class="positive ui approve button"
            onclick="window.location.href = '{{ url_for('admin.generate_report') }}';">
            Run Report
          </div>
          <div class="negative ui deny button">Cancel</div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h1>Calendar Integration</h1>
    <div id="parent" class="container" style="display:none;">
      <div class="ui cards">
        <div class="ui card">
          <div class="ui header mini form" id="calendar-header">
            <div class="four fields">
              <div class="field previous">
                <a href="#" id="previous" onclick="previous()">
                  <i class="ui icon angle left" aria-hidden="true"></i>
                </a>
              </div>
              <div class="field">
                <select class="ui fluid" name="month" id="month" onchange="change()"></select>
              </div>
              <div class="field">
                <select class="ui fluid" name="year" id="year" onchange="change()"></select>
              </div>
              <div class="field next">
                <a href="#" id="next" onclick="next()">
                  <i class="ui icon angle right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="description">
            <table id="calendar">
              <thead>
                <tr>
                  <th>S</th>
                  <th>M</th>
                  <th>T</th>
                  <th>W</th>
                  <th>T</th>
                  <th>F</th>
                  <th>S</th>
                </tr>
              </thead>
              <tbody id="calendarBody"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="selectedValues" class="ui container date-values" readonly></div>

</div>


<script>
  $('#show-report').click(function () {
    $('#report').modal('show');
  });
</script>
{% endblock %}