{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui stackable grid container">
  <div class="sixteen wide tablet twelve wide computer centered column">
    <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
      <i class="caret left icon"></i>
      Back to dashboard
    </a>
    <h2 class="ui header">
      Provided Services
      <div class="sub header">
        View and manage services.
      </div>
    </h2>

    <div class="ui menu">
      <div class="ui search item">
        <div class="ui transparent icon input">
          <input id="search-services" type="text" placeholder="Search services...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    {# Use overflow-x: scroll so that mobile views don't freak out
    # when the table is too wide #}
    <div style="overflow-x: scroll;">
      <a class="ui basic compact button" href="{{ url_for('admin.new_service') }}">
        <i class="plus icon"></i>
        Add a Service
      </a>
      <table class="ui searchable sortable unstackable selectable celled table">
        <thead>
          <tr>
            <th class="sorted ascending">Name</th>
            <th>Category</th>
            <th>Maintain</th>
          </tr>
        </thead>
        <tbody>
          {% for s in services | sort(attribute='name') %}
          <tr>
            <td onclick="window.location.href = '{{ url_for('admin.service_info', service_id=s.id) }}';">{{ s.name }}
            </td>
            <td onclick="window.location.href = '{{ url_for('admin.service_info', service_id=s.id) }}';">{{
              s.category.name}} </td>
            <td onclick="window.location.href = '{{ url_for('admin.delete_service', service_id=s.id) }}';">
              <i class="trash alternate outline icon"></i>
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#search-services').keyup(function () {
      var searchText = $(this).val();
      if (searchText.length > 0) {
        $('tbody td:icontains(' + searchText + ')').addClass('positive');
        $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
        $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
        $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
      } else {
        $('td.positive').removeClass('positive');
        $('tr.hidden').removeClass('hidden').show();
      }
    });
  });
</script>
{% endblock %}