{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui stackable grid container">
  <div class="sixteen wide tablet twelve wide computer centered column">
    <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
      <i class="caret left icon"></i>
      Back to dashboard
    </a>
    <h2 class="ui header">
      Staffers
      <div class="sub header">
        View and manage staffers.
      </div>
    </h2>

    <div class="ui menu">
      <div class="ui search item" style="width: 100%">
        <div class="ui transparent icon input">
          <input id="search-staffers" type="text" placeholder="Search staffers...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    {# Use overflow-x: scroll so that mobile views don't freak out
    # when the table is too wide #}
    <div style="overflow-x: scroll;">
      <a class="ui basic compact button" href="{{ url_for('admin.edit_staffers') }}">
        <i class="plus icon"></i>
        Add a Staffer
      </a>
      <table class="ui searchable sortable unstackable selectable celled table">
        <thead>
          <tr>
            <th class="sorted ascending">Name</th>
            <th>Maintain</th>
          </tr>
        </thead>
        <tbody>
          {% for s in staffers | sort(attribute='first_name') %}
          <tr>
            <td onclick="window.location.href = '{{ url_for('admin.edit_staffers', staffer_id=s.id) }}';">{{ s.first_name }} {{ s.last_name }}
            </td>
            <td>
              <i class="trash alternate outline icon delete-staffer" id={{s.id}}></i>
            </td>

            <div class="ui modal" id='modal-{{s.id}}'>
              <div class="header">Delete Staffer</div>
              <div class="content">Would you like to delete Staffer [{{ s.first_name }} {{ s.last_name }}]?</div>
              <div class="actions">
                <div class="positive ui approve button"
                  onclick="window.location.href = '{{ url_for('admin.delete_staffer', staffer_id=s.id) }}';">
                  Yes
                </div>
                <div class="negative ui deny button">No</div>
              </div>
            </div>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function () {
    $('#search-staffers').keyup(function () {
      var searchText = $(this).val();
      if (searchText.length > 0) {
        $('tbody td:icontains(' + searchText + ')').addClass('positive');
        $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
        $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
        $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
      } else {
        $('td.positive').removeClass('positive');
        $('tr.hidden').removeClass('hidden').show();
      }
    });
  });

  $(document).on('click', '.delete-staffer', function(){
    staffer_id = $(this).attr('id');
    $(`#modal-${staffer_id}`).modal('show');
  });
</script>
{% endblock %}