{% extends 'admin/request_manager/create_request.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block create_request_content %}
{% set flashes = {
'error': get_flashed_messages(category_filter=['form-error']),
'warning': get_flashed_messages(category_filter=['form-check-email']),
'info': get_flashed_messages(category_filter=['form-info']),
'success': get_flashed_messages(category_filter=['form-success'])
} %}

<style>
    .column {
      position: relative;
    }

    .column .side-button {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  </style>

{{ f.begin_form(form, flashes, extra_classes="large") }}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <h2 class="ui center aligned header">Member's Home Request Form</h2>
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.date_created) }}
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.requesting_member)}}
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable relaxed grid">
      <div class="two column row">
        <div class="six wide column">
          {{ f.render_form_field(form.requested_date) }}
        </div>
        <div class="right floated six wide column">
          {{ f.render_form_field(form.time_flexible) }}
        </div>
      </div>
      <div class="two column row">
        <div class="six wide column">
          {{ f.render_form_field(form.time_from) }}
        </div>
        <div class="right floated six wide column">
          {{ f.render_form_field(form.time_until) }}
        </div>
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.description) }}
  </div>

    <div class = "twelve wide column">
    <div>{{ f.render_form_field(form.home_location) }}</div>
    </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.service_category) }}
      </div>
      <div class="right floated six wide column">
        <div id="techServices" style = "display: initial">
          {{ f.render_form_field(form.tech_services) }}
        </div>
        <div id="profHomeServices" style = "display: none">
          {{ f.render_form_field(form.prof_home_services) }}
        </div>
        <div id="profSupportServices" style = "display: none">
          {{ f.render_form_field(form.prof_support_services) }}
        </div>
        <div id="volHomeServices" style = "display: none">
          {{ f.render_form_field(form.vol_home_services) }}
        </div>
        <div id="volSupportServices" style = "display: none">
          {{ f.render_form_field(form.vol_support_services) }}
        </div>
      </div>
      <div class="right floated six wide column"></div>
    </div>

    <div id = "providers" class="twelve wide column">
      {{ f.render_form_field(form.service_provider)}}
    </div>

    <div class="four fields" style = "margin-top: 10px">
      <div class="field">
        <button id="show-send-req-modal" class="ui purple basic button" type="button">
          Send Request
        </button>
        <div id="send-req-modal" class="ui modal">
          <i class="close icon"></i>
          <div class="header">Are you sure you'd like to send this request?</div>
          <div class="content">
            <h4>A blank email will be sent if you haven't yet created the request<h4>
            <button onclick="sendRequests('send+request')" class="ui purple basic button" type="button">
              Send Request
            </button>
            <div id = "send-request-success-message" class="ui hidden positive message">
              <i class="close icon"></i>
              <div class="header">
                Request sent
              </div>
              <p>The volunteers have been emailed!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <button id = "show-confirmation-modal" class="ui purple basic button" type="button">
          Confirmation
        </button>
        <div id="confirmation-modal" class="ui modal">
          <i class="close icon"></i>
          <div class="header">Are you sure you'd like to send a confirmation email?</div>
          <div class="content">
            <h4>A blank email will be sent if you haven't yet created the request<h4>
            <button onclick="sendRequests('confirmation')" class="ui purple basic button" type="button">
              Confirmation
            </button>
            <div id = "confirmation-success-message" class="ui hidden positive message">
              <i class="close icon"></i>
              <div class="header">
                Confirmation sent
              </div>
              <p>The volunteers have been emailed!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <button id = "show-not-needed-modal" class="ui purple basic button" type="button">
          Not Needed
        </button>
        <div id="not-needed-modal" class="ui modal">
          <i class="close icon"></i>
          <div class="header">Are you sure you'd like to send a not needed email?</div>
          <div class="content">
            <h4>A blank email will be sent if you haven't yet created the request<h4>
            <button onclick="sendRequests('not+needed')" class="ui purple basic button" type="button">
              Not Needed
            </button>
            <div id = "not-needed-success-message" class="ui hidden positive message">
              <i class="close icon"></i>
              <div class="header">
                Request sent
              </div>
              <p>The volunteers have been emailed!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <button id = "show-summary-modal" class="ui purple basic button" type="button">
          Summary
        </button>
        <div id="summary-modal" class="ui modal">
          <i class="close icon"></i>
          <div class="header">Are you sure you'd like to send a summary email?</div>
          <div class="content">
            <h4>A blank email will be sent if you haven't yet created the request<h4>
            <button onclick="sendRequests('summary')" class="ui purple basic button" type="button">
              Send Summary
            </button>
            <div id = "summary-success-message" class="ui hidden positive message">
              <i class="close icon"></i>
              <div class="header">
                Request sent
              </div>
              <p>The volunteers have been emailed!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="new-service-provider" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Add Service Provider</div>
    <div class="content">
      <h3>Add New Service Provider</h3>
    </div>
  </div>

  <p id="special-instructions" style="display: none">
    {{form.special_instructions_list}}
  </p>

  <div class="twelve wide column">
    <div class="field" id="special-instructions-div">
      {{ f.render_form_field(form.special_instructions) }}
    </div>
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.follow_up_date) }} {{
        f.render_form_field(form.responsible_staffer) }}
      </div>
      <div class="right floated six wide column">
        {{ f.render_form_field(form.status) }} {{
        f.render_form_field(form.contact_log_priority) }}
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.person_to_cc) }}
  </div>


  <script>
    $('#show-new-service-provider').click(() => {
      $('#new-service-provider').modal('show');
    });

    $('#show-send-req-modal').click(() => {
      $('#send-req-modal').modal('show');
    });

    $('#show-confirmation-modal').click(() => {
      $('#confirmation-modal').modal('show');
    });

    $('#show-not-needed-modal').click(() => {
      $('#not-needed-modal').modal('show');
    });

    $('#show-summary-modal').click(() => {
      $('#summary-modal').modal('show');
    });
  </script>

  <script>
    function serviceChoices() {
      let service_category = document.getElementById('service_category').value;
      console.log("got:" + service_category)
      const dropdowns = new Map();
      dropdowns.set(3, document.getElementById("techServices"));
      dropdowns.set(4, document.getElementById("profHomeServices"));
      dropdowns.set(5, document.getElementById("profSupportServices"));
      dropdowns.set(7, document.getElementById("volHomeServices"));
      dropdowns.set(8, document.getElementById("volSupportServices"));
      const cat_ids = [3, 4, 5, 7, 8];
      cat_ids.forEach(id => {
        if (id == service_category)
          dropdowns.get(id).style.display = "initial";
        else
          dropdowns.get(id).style.display = "none";
      })
    }

    function specialInstructions() {
      const member = document.getElementById('member')
      let acum = ""
      for (const option of member.options) {
        if (option.selected) {
          $('textarea#special-instructions-text').empty();
          let member_id = option.value.toString();
          let str = document.getElementById('special-instructions').innerHTML;
          let obj = JSON.parse(str);
          acum = acum + option.label + ": " + obj[member_id] + "\n\n"
        }

      }
      $('textarea#special-instructions-text').val(
        acum
      );
      special_input = acum;
    
    }
  </script>

  <!-- Begin table logic -->
  <script>
    const providerSelect = document.getElementById("service_provider");
    function updateTable() {
      const providerDiv = document.getElementById("providers");
      let selectedNames = [];
      for (const option of providerSelect.options) {
        if (option.selected)
          selectedNames.push(option.innerHTML)
      }

      const table = document.createElement('table');
      if (selectedNames.length > 0) {
        table.className += "ui celled table";
        const header = table.createTHead();
        const row = header.insertRow(0);
        const headers = ["Name", "Address", "Location", "Phone Number", "Contact Method", "Type", "Last/Next Svc. Date", "Fully Vetted", "Rating", "Actions"]
        row.insertCell(0);
        for (let i = 1; i < headers.length; i++) {
          const tempHeaderCell = row.insertCell(i);
          tempHeaderCell.innerHTML = "<b>" + headers[i - 1] + "</b>";
        }
        table.id = "volunteerDataTable";
      }

      const volDataArr = {{ volunteer_data | safe }}

      for (const volName of selectedNames) {
        const row = table.insertRow(1);
        const boxEntry = row.insertCell(0);
        const checkBox = document.createElement("INPUT");
        checkBox.setAttribute("type", "checkbox");
        checkBox.className += "ui checkbox";
        checkBox.name = "selectedVolunteersCheckBox";
        volDataArr.find(vol => {
          if (vol[0] == volName)
           checkBox.value = vol[3] + "|" + vol[6];
        })
        boxEntry.appendChild(checkBox);
        const volunteer = volDataArr.find(volObj => volObj[0] == volName);
        for (let i = 0; i < volunteer.length; i++) {
          const tempVolData = row.insertCell(i + 1);
          tempVolData.innerHTML = volunteer[i];
        }
      }

      if (!document.getElementById("volunteerDataTable")) {
        providerDiv.prepend(table);
      } else {
        providerDiv.replaceChild(table, document.getElementById("volunteerDataTable"));
      }
    }
    providerSelect.setAttribute("onchange", "updateTable()");

    function sendRequests(buttonType) {
      const checkBoxStates = document.getElementsByName("selectedVolunteersCheckBox");
      const checkBoxArr = Array.prototype.slice.call(checkBoxStates);
      const volunteersToReq = checkBoxArr.filter(box => box.checked);
      let emails = ""
      for (const vol of volunteersToReq)
        emails += vol.value.split("|")[1] + "&";

      emails = emails.substring(0, emails.length - 1);

      const websiteHost = window.location.host;
      const protocol = window.location.protocol;
      fetch(`${protocol}//${websiteHost}/admin/create-request/send-emails?${buttonType}&-1&Transportation&${emails}`);

      const buttonId = `${buttonType.replace('+', '-') + '-success-message'}`
      document.getElementById(buttonId).classList.remove('hidden');
      document.getElementById(buttonId).classList.add('visible');
    }
  </script>
  <!-- End table logic -->

  <div class="twelve wide column">
    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
    {{ f.form_message(flashes['info'], header='Information', class='info') }}
    {{ f.form_message(flashes['success'], header='Success!', class='success') }}

    {{ f.render_form_field(form.submit, extra_classes=".ui .button") }}

    {{ f.end_form() }}
  </div>
</div>

{% endblock %}
