{% extends 'admin/request_manager/create_request.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block create_request_content %}
{% set flashes = {
'error': get_flashed_messages(category_filter=['form-error']),
'warning': get_flashed_messages(category_filter=['form-check-email']),
'info': get_flashed_messages(category_filter=['form-info']),
'success': get_flashed_messages(category_filter=['form-success'])
} %}

{{ f.begin_form(form, flashes, extra_classes="large") }}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <h2 class="ui center aligned header">Office Time Request Form</h2>
  </div>


  <div class="twelve wide column">
    {{ f.render_form_field(form.requesting_member)}}
  </div>



  <div class="twelve wide column">
    <div class="ui two column stackable relaxed grid">
      <div class="two column row">
        <div class="six wide column">
          {{ f.render_form_field(form.requested_date) }}
        </div>
        <div class="right floated six wide column">
          {{ f.render_form_field(form.high_priority) }}
        </div>
      </div>
      <div class="two column row">
        <div class="six wide column">
          {{ f.render_form_field(form.start_time) }}
        </div>
        <div class="right floated six wide column">
          {{ f.render_form_field(form.end_time) }}
        </div>
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.description) }}
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.service_category) }}
      </div>
      <div class="right floated six wide column">
        <div id="covid" style="display: none">
          {{ f.render_form_field(form.covid_service) }}
        </div>
        <div id="transportation">
          {{ f.render_form_field(form.office_time_service) }}
        </div>
      </div>
      <div class="right floated six wide column"></div>
    </div>

    <style>
      .column {
        position: relative;
      }

      .column .side-button {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    </style>

    <div class="twelve wide column">

      <div id="providers" class="twelve wide column">

        {{ f.render_form_field(form.service_provider)}}
      </div>

      <script>
        const providerSelect = document.getElementById("service_provider");
        function updateTable() {
          const providerDiv = document.getElementById("providers");
          let selectedNames = [];
          for (const option of providerSelect.options) {
            if (option.selected)
              selectedNames.push(option.innerHTML)
          }

          const table = document.createElement('table');
          if (selectedNames.length > 0) {
            table.className += "ui celled table";
            const header = table.createTHead();
            const row = header.insertRow(0);
            const titleOne = row.insertCell(0);
            titleOne.innerHTML = "<b>Name</b>";
            const titleTwo = row.insertCell(1);
            titleTwo.innerHTML = "<b>Volunteer Type</b>";
            const titleThree = row.insertCell(2);
            titleThree.innerHTML = "<b>Volunteer Status</b>";
            const titleFour = row.insertCell(3);
            titleFour.innerHTML = "<b>Actions</b>";
            table.id = "volunteerDataTable";
          }

          for (const name of selectedNames) {
            const row = table.insertRow(1);
            const volunName = row.insertCell(0);
            volunName.innerHTML = name;
            const volunType = row.insertCell(1);
            volunType.innerHTML = "will be inserted";
            const volunStatus = row.insertCell(2);
            // when request editing is implemented flask should pass vars that are stored in volunStatus so the actual status can be displayed
            volunStatus.innerHTML = "Not contacted";
            const action = row.insertCell(3);
            action.innerHTML = "will be added";
          }

          if (!document.getElementById("volunteerDataTable")) {
            providerDiv.prepend(table);
          } else {
            providerDiv.replaceChild(table, document.getElementById("volunteerDataTable"));
          }
        }
        providerSelect.setAttribute("onchange", "updateTable()");
      </script>

      <div class="four fields" style="margin-top: 10px">
        <div class="field">
          <button class="ui purple basic button" type="button">
            Send Request
          </button>
        </div>
        <div class="field">
          <button class="ui purple basic button" type="button">
            Confirmation
          </button>
        </div>
        <div class="field">
          <button class="ui purple basic button" type="button">Not Needed</button>
        </div>
        <div class="field">
          <button class="ui purple basic button" type="button">Summary</button>
        </div>
      </div>
    </div>


    <div class="twelve wide column">
      <div class="field" id="special-instructions-div">
        {{ f.render_form_field(form.special_instructions) }}
      </div>
    </div>

    <div class="twelve wide column" style="margin-top: 20px">
      <div class="field">
        <div class="three fields">

          {{
          f.render_form_field(form.responsible_staffer) }}


          {{ f.render_form_field(form.status) }} {{
          f.render_form_field(form.contact_log_priority) }}
        </div>
      </div>
    </div>

    <div class="twelve wide column">
      {{ f.render_form_field(form.person_to_cc) }}
    </div>




    <div class="twelve wide column">
      {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
      {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
      {{ f.form_message(flashes['info'], header='Information', class='info') }}
      {{ f.form_message(flashes['success'], header='Success!', class='success') }}
      <div class="field" style="margin-top: 20px">
        {{ f.render_form_field(form.submit, extra_classes=".ui .button") }}
      </div>
      {{ f.end_form() }}
    </div>
  </div>

  {% endblock %}