{% extends "admin/request_manager/layouts/base.html" %}
{% import 'macros/form_macros.html' as f %}

{% macro request_card(request_num, request_status, requested_date, start_time, end_time, member_name, volunteer_name,
request_type, service, created_date, modified_date, service_category ) %}
<div class="ui one cards request-card" style="margin-top:20px">
  <div class="ui card">
    <div class="content" style="background-color: burlywood;">
      <div class="header">
        Request #{{request_num}}
        <div class="ui right floated request-status-value">
          {% if request_status == "Requested" %}
          <div class="ui yellow label">{{request_status}}</div>
          {% elif request_status == "Confirmed" %}
          <div class="ui green label">{{request_status}}</div>
          {% else %}
          <div class="ui red label">{{request_status}}</div>
          {% endif %}
        </div>
      </div>

    </div>
    <div class="content">
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui card">
            <div class="content">
              <div class="header">Saturday</div>
            </div>
            <div class="content">
              <h2>{{requested_date}}</h2>
            </div>
            <div class="extra content">
              <h3>{{start_time}} - {{end_time}} PM</h3>
            </div>
          </div>
        </div>
        <div class="six wide column">
          <h2>{{member_name}}</h2>
          <h3><em>Volunteer:</em> {{volunteer_name}}</h3>
          <div class="ui label request-type-value" style="margin-bottom: 5px">{{request_type}}</div>

          <div class="ui label">
            <span class="service-category-value">{{service_category}}</span>:
            <div class="detail">{{service}}</div>
          </div>
        </div>
        <div class="six wide column">
          <div>
            <b style="font-size:1.3em">Created Date:</b>
            <p>{{created_date}}</p>
          </div>
          <div style="margin-top: 10px">
            <b style="font-size:1.3em">Modified Date:</b>
            <p>{{modified_date}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro filter_select_field(field) %}
<div class="field no label clearable" id="{{field.name}}">
  {{field.label}}
  <div class="ui multiple selection dropdown ">
    <i class="dropdown icon"></i>

    <div class="default text">All</div>
    <div class="menu">
      {% for choice in field.choices %}
      <div class="item" data-value="{{choice[0]}}">{{choice[1]}}</div>
      {% endfor %}
    </div>

  </div>


</div>
{% endmacro %}

{% block request_content %}
<style>
  .ui.multiple.selection.dropdown .menu .item.active {
    background-color: lightgray;
  }

  .container {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Spacing */
    /* padding: 8px; */
  }

  .triangle {
    border-style: solid;

    /* Size */
    height: 0px;
    width: 0px;
  }

  .right_triangle {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.3);
    border-width: 8px 0px 8px 8px;
  }

  .left_triangle {
    border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
    border-width: 8px 8px 8px 0px;
  }

  .request_box {
    width: 840px;
    padding: 100px;
    height: 210px;
    border: 1px solid gray;
    margin: 0;
  }

  .request_number_box {
    background-color: tan;
    width: 840px;
    padding: 20px;
    margin: 0px;
    margin-top: 20px;
  }

  .divleft {
    float: left
  }

  .divright {
    float: right
  }

  .date_box {
    position: relative;
    width: 140px;
    height: 131px;
    border: 1px solid gray;
    overflow: hidden;
    margin: -60px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }

  .day_box {
    width: 140px;
    height: 25px;
    background-color: gainsboro;
    margin: -60px;
    margin-top: -130px;
    text-align: center;
    vertical-align: middle;
  }

  .time_box {
    width: 140px;
    height: 35px;
    background-color: gainsboro;
    margin: -60px;
    margin-top: 95px;
    text-align: center;
    vertical-align: middle;
  }

  .date_number_box {
    width: 140px;
    height: 5px;
    margin: -60px;
    margin-top: 90px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
  }

  .name {
    width: auto;
    height: 25px;
    overflow: hidden;
    margin-left: 150px;
    margin-top: -120px;
    text-align: left;
    font-weight: bold;
    font-size: large;
    color: mediumslateblue;
  }

  .service_provider {
    width: 150px;
    height: 25px;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
    font-size: medium;
  }

  .service_provider_name {
    width: auto;
    height: 25px;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 5px;
    margin-bottom: -40px;
    text-align: left;
    font-size: medium;
  }

  .type {
    width: 150px;
    height: 20px;
    overflow: hidden;
    margin-left: 360px;
    margin-top: -130px;
    text-align: left;
    font-weight: bold;
    font-size: small;
  }

  .small_text {
    width: auto;
    height: 50px;
    overflow: hidden;
    margin-left: 360px;
    margin-top: 10px;
    margin-bottom: -40px;
    text-align: left;
    font-size: small;
  }

  .vertical_line {
    border-left: 2px solid darkgrey;
    height: 180px;
    margin-left: 575px;
    margin-top: -185px;
    margin-bottom: -700px;
    /* position:absolute;
    left: 50%; */
  }
</style>



<div class="content-section">
  <form method="POST" action="" id="search-form" class="ui form">
    {{ form.hidden_tag() }}

    <h2 class="header">Search Criteria</h2>

    {% set flashes = {
    'error': get_flashed_messages(category_filter=['form-error']),
    'warning': get_flashed_messages(category_filter=['form-check-email']),
    'info': get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    {{ f.begin_form(form, flashes) }}

    <div class="ui three column stackable grid">
      <div class="five wide column">
        {{filter_select_field(form.request_type)}}
      </div>

      <div class="five wide column">
        {{filter_select_field(form.service_category)}}

      </div>
      <div class="five wide column">
        {{filter_select_field(form.request_status)}}
      </div>

    </div>
    <div class="ui two column stackable grid">
      <div class="eight wide column">
        <div class="field">
          <label> {{form.requesting_member.label}}</label>
          <select class="ui multiple search selection dropdown">
            <option value="">Type Name Here</option>
            {% for choice in form.requesting_member.choices %}
            <option value={{ choice[0] }}>{{choice[1]}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <label> {{form.volunteer.label}}</label>
          <select class="ui multiple search selection dropdown">
            <option value="">Type Name Here</option>
            {% for choice in form.volunteer.choices %}
            <option value={{ choice[0] }}>{{choice[1]}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <label> {{form.local_resource.label}}</label>
          <select class="ui multiple search selection dropdown">
            <option value="">Type Name Here</option>
            {% for choice in form.local_resource.choices %}
            <option value={{ choice[0] }}>{{choice[1]}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="eight wide column">
        <div class="inline fields">
          <label>{{ form.show.label }}:</label>
          {% for subfield in form.show %}
          <tr>
            <td>{{ subfield }}</td>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <td>{{ subfield.label }}</td>
          </tr>
          {% endfor %}
        </div>

        <label>{{ form.time_period.label }}</label>
        <div class="inline fields">
          <button class="container" id="leftbutton">
            <div class="triangle left_triangle"></div>
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <select class="ui dropdown" id="timePeriod" name="timePeriod">
            <option value="">Nothing Selected</option>
            {% for choice in form.time_period.choices %}
            <option value={{ choice[0] }}>{{choice[1]}}</option>
            {% endfor %}
          </select>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="container" id="rightbutton">
            <div class="triangle right_triangle"></div>
          </button>
          <!-- </div>  -->
        </div>
        <div class="fields">

          <div class="field">
            <label>{{ form.start_date.label }}:</label>
            <input type="date" id="startdate" name="trip-start" class="setDate" value="">
          </div>
          <div class="field">
            <label>{{form.end_date.label}}:</label>
            <input type="date" id="enddate" name="trip-start" value="">
          </div>

        </div>
      </div>

    </div>
    <div class="ui one column centered grid">
      {{f.render_form_field(form.apply_filters)}}
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        // this applies the search to the entire text (not just the beginning)
        $('.ui.dropdown').dropdown({ fullTextSearch: true });
      });
    </script>

</div>

<h2 class="header" class="divleft">Search Results</h2>
<div id="" class="divright">(0 Results Found)</div>

<p>
  <hr />
</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="ui four column stackable grid">
  <div class="field">
    <label>Sort By:</label>
    <select class="ui search dropdown" name="sortby">
      <option value="">Choose Filter</option>
      <option value=0>Create Date</option>
    </select>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
{{f.end_form()}}
<div id="request-search-results">
  {{request_card(6724, "Requested", "06/17", "12:00 PM", "12:00 PM", "Anne Rodda", "Fran Spadafora Manzella",
  "Member's Home", "Pet Care -Vol", "06/15/2021", "N/A", "Volunteer In-Home Support" )}}

  {{request_card(6697, "Confirmed", "06/21", "11:30 AM", "12:40 PM", "Randy Warden", "Hank Dullea",
  "Transportation", "Vol Driver Local Medical Appt", "06/11/2021", "06/18/2021", "Transportation" )}}
</div>
</div>
</div>
<script text="text/javascript">
  $(document).ready(function () {
    $('.no.label .ui.multiple.selection.dropdown')
      .dropdown({
        useLabels: false
      });


    $('#search-form').submit(function (e) {
      // request_types_filter = $("request_type").val();
      // window.alert(request_types_filter);
      request_type_filter = [];
      service_category_filter = [];
      request_status_filter = [];

      // grab filters from relevant form fields
      $('#request_type .menu .item.active').each(function () {
        selected_value = $(this).attr('data-value');
        request_type_filter.push(selected_value);
      });
      $('#service_category .menu .item.active').each(function () {
        selected_value = $(this).attr('data-value');
        service_category_filter.push(selected_value);
      });
      $('#request_status .menu .item.active').each(function () {
        selected_value = $(this).attr('data-value');
        request_status_filter.push(selected_value);
      });


      $('.request-card').each(function () {
        $this = $(this);
        $this.show();

        let request_type = $this.find('.request-type-value').html();
        if (request_type_filter.length > 0 && !request_type_filter.includes(request_type)) {
          $this.hide();
        }

        let service_category = $this.find('.service-category-value').html();
        if (service_category_filter.length > 0 && !service_category_filter.includes(service_category)) {
          $this.hide();
        }

        let request_status = $this.find('.request-status-value').find('div').html();
        if (request_status_filter.length > 0 && !request_status_filter.includes(request_status)) {
          $this.hide();
        }

      });
      return false;
    })

    document.getElementById("leftbutton").onclick = function () {

      var option = document.getElementById("timePeriod").value;
      var start_date = document.getElementById("startdate").value;
      var end_date = document.getElementById("enddate").value;
      var date_values = start_date.split("-");
      var year = parseInt(date_values[0]);
      var month = parseInt(date_values[1]) - 1;
      var date = parseInt(date_values[2]);
      var current = new Date(year, month, date);

      switch (option) {
        case '0':
          var yesterday = new Date(current);
          yesterday.setDate(yesterday.getDate() - 1)
          var new_date = yesterday.getFullYear() + '-' + ("0" + (yesterday.getMonth() + 1)).slice(-2) + '-' + ("0" + yesterday.getDate()).slice(-2);
          var end_date = new_date;
          break;
        case '1':
          var week_ = current.getDate() - 7;
          var last_week = new Date(current.setDate(week_));
          var end_week = new Date(current.setDate(current.getDate() + 7));
          var new_date = last_week.getFullYear() + '-' + ("0" + (last_week.getMonth() + 1)).slice(-2) + '-' + ("0" + last_week.getDate()).slice(-2);
          var end_date = end_week.getFullYear() + '-' + ("0" + (end_week.getMonth() + 1)).slice(-2) + '-' + ("0" + end_week.getDate()).slice(-2);
          break;
        case '2':
          var month_ = current.getMonth() - 1;
          var last_month = new Date(current.setMonth(month_));
          var end_month = new Date(current.setMonth(current.getMonth() + 1));
          var new_date = last_month.getFullYear() + '-' + ("0" + (last_month.getMonth() + 1)).slice(-2) + '-' + ("0" + last_month.getDate()).slice(-2);
          var end_date = end_month.getFullYear() + '-' + ("0" + (end_month.getMonth() + 1)).slice(-2) + '-' + ("0" + end_month.getDate()).slice(-2);
          break;
        default:
          var new_date = start_date;
      }

      var dateControl = document.querySelector('#startdate');
      dateControl.value = new_date;

      var dateControl2 = document.querySelector('#enddate');
      dateControl2.value = end_date;
    }
  });
</script>

<script text="text/javascript">
  document.getElementById("rightbutton").onclick = function () {

    var option = document.getElementById("timePeriod").value;
    var start_date = document.getElementById("startdate").value;
    var end_date = document.getElementById("enddate").value;
    var date_values = start_date.split("-");
    var year = parseInt(date_values[0]);
    var month = parseInt(date_values[1]) - 1;
    var date = parseInt(date_values[2]);
    var current = new Date(year, month, date);

    switch (option) {
      case '0':
        var tomorrow = new Date(current);
        tomorrow.setDate(tomorrow.getDate() + 1)
        var new_date = tomorrow.getFullYear() + '-' + ("0" + (tomorrow.getMonth() + 1)).slice(-2) + '-' + ("0" + tomorrow.getDate()).slice(-2);
        var end_date = new_date;
        break;
      case '1':
        var week_ = current.getDate() + 7;
        var next_week = new Date(current.setDate(week_));
        var end_week = new Date(current.setDate(current.getDate() + 7));
        var new_date = next_week.getFullYear() + '-' + ("0" + (next_week.getMonth() + 1)).slice(-2) + '-' + ("0" + next_week.getDate()).slice(-2);
        var end_date = end_week.getFullYear() + '-' + ("0" + (end_week.getMonth() + 1)).slice(-2) + '-' + ("0" + end_week.getDate()).slice(-2);
        break;
      case '2':
        var month_ = current.getMonth() + 1;
        var next_month = new Date(current.setMonth(month_));
        var end_month = new Date(current.setMonth(current.getMonth() + 1));
        var new_date = next_month.getFullYear() + '-' + ("0" + (next_month.getMonth() + 1)).slice(-2) + '-' + ("0" + next_month.getDate()).slice(-2);
        var end_date = end_month.getFullYear() + '-' + ("0" + (end_month.getMonth() + 1)).slice(-2) + '-' + ("0" + end_month.getDate()).slice(-2);
        break;
      default:
        var new_date = start_date;
    }

    var dateControl = document.querySelector('#startdate');
    dateControl.value = new_date;

    var dateControl2 = document.querySelector('#enddate');
    dateControl2.value = end_date;
  }
</script>

<script text="text/javascript">
  $("select[name = timePeriod]").on("change", function () {
    var date = new Date();
    var start_date;
    var end_date;
    //YYYY-MM-DD                      

    switch ($(this).val()) {
      case '0':
        var start_date = date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2) + '-' + ("0" + date.getDate()).slice(-2);
        var end_date = start_date;
        break;
      case '1':
        var first = date.getDate() - date.getDay() + 1; // First day is the day of the month - the day of the week
        var last = first + 6;
        var firstDay = new Date(date.setDate(first));
        var lastDay = new Date(date.setDate(last));
        var start_date = firstDay.getFullYear() + '-' + ("0" + (firstDay.getMonth() + 1)).slice(-2) + '-' + ("0" + firstDay.getDate()).slice(-2);
        var end_date = lastDay.getFullYear() + '-' + ("0" + (lastDay.getMonth() + 1)).slice(-2) + '-' + ("0" + lastDay.getDate()).slice(-2);
        break;
      case '2':
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
        var start_date = firstDay.getFullYear() + '-' + ("0" + (firstDay.getMonth() + 1)).slice(-2) + '-' + ("0" + firstDay.getDate()).slice(-2);
        var end_date = lastDay.getFullYear() + '-' + ("0" + (lastDay.getMonth() + 1)).slice(-2) + '-' + ("0" + lastDay.getDate()).slice(-2);
        break;
      case '3':
        var tomorrow = new Date(date);
        tomorrow.setDate(tomorrow.getDate() + 1);
        var start_date = tomorrow.getFullYear() + '-' + ("0" + (tomorrow.getMonth() + 1)).slice(-2) + '-' + ("0" + tomorrow.getDate()).slice(-2);
        var end_date = start_date;
        break;
      default:
    }

    var dateControl = document.querySelector('#startdate');
    dateControl.value = start_date;
    //window.alert(dateControl.value);
    var dateControl2 = document.querySelector('#enddate');
    dateControl2.value = end_date;
  });
</script>
{% endblock %}