{% extends "admin/request_manager/layouts/base.html" %}
{% import 'macros/form_macros.html' as f %}

{# Render a card for a single service request.
Parameters:
request_num,
request_type_id,
request_status,
requested_date,
requested_day_of_week,
start_time,
end_time,
member_name,
volunteer_name,
request_type,
service,
created_date,
modified_date,
service_category,
member_numbers,
volunteer_ids,
is_volunteer
#}
{% macro request_card(
request_num, request_type_id,request_status, requested_date_display, requested_date_full, requested_day_of_week,
start_time,
end_time, member_name, volunteer_name, request_type, service, created_date,
modified_date, service_category, member_numbers, volunteer_ids, is_volunteer ) %}
<div class="ui one cards request-card" style="margin-top:20px">
  <div class="ui card">
    <div class="content" style="background-color: burlywood;">
      <div class="header toggler">
        {{request_type}} Request #<span class="request-number-value">{{request_num}}</span><span
          class="collapsed-information" style="display:none">, {% if requested_date_full %} {{requested_date_full}}
          {% else %} [No date set] {% endif %} {{start_time}},
          {% if volunteer_name %} {{volunteer_name}} {% else %} [No volunteers assigned] {% endif %}</span>
        <div class="ui right floated request-status-value">
          <div class='{{"ui yellow label" if request_status == "Requested"
            else "ui orange label" if request_status == "Confirmed"
            else "ui green label" if request_status == "Completed"
            else "ui red label"}}'>
            {{request_status}}</div>
        </div>

      </div>

    </div>
    <div class="content togglethis">
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui card">
            <div class="content">
              <div class="header">{{requested_day_of_week}}</div>
            </div>
            <div class="content">
              <h2><span class="requested-date-value" data-value={{requested_date_full}}>{% if requested_date_display
                  %}
                  {{requested_date_display}}
                  {% else %}
                  N/A
                  {% endif %}</span></h2>
            </div>
            <div class="extra content">
              <h3>{{start_time}} - {{end_time}}</h3>
            </div>
          </div>
        </div>
        <div class="six wide column">
          <h2><span class="requesting-member-value" data-value="{{member_numbers}}">{{member_name}}</span></h2>
          <h3> <em><span class="service-provider-role-value">{% if is_volunteer %}
                Volunteer(s)
                {% else %}
                Local Resource
                {% endif %}</span>:</em>
            <span class="service-provider-value" data-value="{{volunteer_ids}}">{{volunteer_name}}</span>
          </h3>
          <div class="ui label request-type-value" style="margin-bottom: 5px">{{request_type}}</div>

          <div class="ui label">
            <span class="service-category-value">{{service_category}}</span>:
            <div class="detail">{{service}}</div>
          </div>
        </div>
        <div class="three wide column">
          <div>
            <b style="font-size:1.3em">Created Date:</b>
            <p><span class='created-date-value'>{{created_date}}</span></p>
          </div>
          <div style="margin-top: 10px">
            <b style="font-size:1.3em">Modified Date:</b>
            <p>{{modified_date}}</p>
          </div>
        </div>
        <div class="one wide column">
          <div style="width: 1px;
          background-color: black;
          height: 100%;
          float: left;">
          </div>
        </div>
        <div class="one wide column" style="margin-left:-25px">
          <i style="margin-top: 15px" class="large pencil icon" style="cursor: pointer"
            onclick="window.location.href = '{{ url_for('admin.create_transportation_request', request_id=request_num) if request_type_id == 0 else url_for('admin.create_office_time_request', request_id = request_num) if request_type_id==1 else url_for('admin.create_members_home_request', request_id = request_num) if request_type_id==2 else url_for('admin.search_request') }}';"></i>
          <i style="margin-top: 20px; cursor:pointer" class="large blue copy outline icon" title="Make Copy"
            request_type_id={{request_type_id}} request_num={{request_num}}
            onclick="window.location.href = '{{url_for('admin.make_copy', request_type_id=request_type_id, request_id=request_num)}}'"></i>
          <i style="margin-top: 20px; cursor:pointer" class="large red times circle icon cancel-request" title="Cancel"
            request_type_id={{request_type_id}} request_num={{request_num}}></i>
          <div class="ui modal" id='modal-cancel-request-{{request_type_id}}-{{request_num}}'>
            <div class="header">Cancel Request</div>
            <div class="content">
              <p>Enter the reason for cancelling this service request. Click 'Save' when finished.</p>
              <div class="ui form">
                {{ form.csrf_token }}
                <div class="field">
                  <label>Reason</label>
                  <select id="reasons-{{request_type_id}}-{{request_num}}" name="reasons" class="ui search dropdown">
                    <option selected>Select</option>
                    <option>Can't supply a service provider</option>
                    <option>Duplicate</option>
                    <option>Entered in error</option>
                    <option>Event cancelled</option>
                    <option>Member cancelled</option>
                    <option>Member dropped</option>
                    <option>Not enough advance notice</option>
                    <option>Problem was separately resolved</option>
                    <option>Provider cancelled</option>
                    <option>Weather</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="positive ui approve button" onclick='cancelRequest(request_type_id,request_num)'>
                Save
              </div>
              <div class="negative ui deny button">Cancel</div>
            </div>
          </div>
        </div>
        <div class="one wide column">
          <i style="margin-top: 15px; cursor:pointer" class="large green check icon" title="Confirm"
            request_type_id={{request_type_id}} request_num={{request_num}}
            onclick="window.location.href = '{{ url_for('admin.confirm_request', request_type_id=request_type_id, request_id=request_num)}}';"></i>
          <i style="margin-top: 20px" class="large trash icon delete-request" style="cursor: pointer"
            request_type_id={{request_type_id}} request_num={{request_num}}></i>

          <div class="ui modal" id='modal-delete-request-{{request_type_id}}-{{request_num}}'>
            <div class="header">Delete Request</div>
            <div class="content">Would you like to delete {{request_type}} Request #{{request_num}}?</div>
            <div class="actions">
              <div class="positive ui approve button"
                onclick="window.location.href = '{{ url_for('admin.delete_request', request_type_id=request_type_id, request_id=request_num)}}';">
                Yes
              </div>
              <div class="negative ui deny button">No</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}

{# Render a multiple select dropdown field for filtering purposes.
Parameters:
field – Field object passed in through the form.
show_label – If true, text of selected menu items are displayed. Otherwise, only number selected is shown.
#}
<!-- MACRO: Render Filter Select Field -->
{% macro filter_select_field(field, show_label) %}
<div class="field {% if not show_label %} no label {% endif %}" id="{{field.name}}">
  <label style="margin-bottom:0">{{field.label.text}}</label>

  <div class="ui multiple search selection dropdown fluid">
    <i class="dropdown icon"></i>
    <div class="default text">All</div>
    <div class="menu">
      {% for choice in field.choices %}
      <div class="item" data-value="{{choice[0]}}">{{choice[1]}}</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}

{% block request_content %}
{% assets 'search_request_css' %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}

<div class="content-section">
  <h3 class="header">Search Criteria</h3>

  {% set flashes = {
  'error': get_flashed_messages(category_filter=['form-error']),
  'warning': get_flashed_messages(category_filter=['form-check-email']),
  'info': get_flashed_messages(category_filter=['form-info']),
  'success': get_flashed_messages(category_filter=['form-success'])
  } %}
  {{ f.begin_form(form, flashes) }}

  <div class="ui three column stackable grid">
    <div class="five wide column" style="padding-top: 0; padding-bottom:0">
      {{filter_select_field(form.request_type, false)}}
    </div>
    <div class="five wide column" style="padding-top: 0; padding-bottom:0">
      {{filter_select_field(form.service_category, false)}}
    </div>
    <div class="five wide column" style="padding-top: 0; padding-bottom:0">
      {{filter_select_field(form.request_status, false)}}
    </div>
  </div>

  <div class="ui two column stackable grid">
    <div class="eight wide column" style="padding-top: 0; padding-bottom: 0.2">
      <div>
        {{filter_select_field(form.requesting_member, true)}}
      </div>
      <div class="field" style="margin-bottom: 0">
        <label style="margin-bottom:0">Service Provider(s)</label>
        <div>
          <div class="ui menu">
            <div id="select-role" class="ui dropdown item">
              <div class="text">
                All roles
              </div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="">All roles</div>
                <div class="item" data-value="volunteer">Volunteers</div>
                <div class="item" data-value="local-resource">Local Resources</div>
              </div>
            </div>
            <div class="ui fluid multiple search selection dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">All</div>
              <div class="menu" id="service-provider-menu">
                {% for service_provider_info in service_providers %}
                <div class="item" data-role="{{service_provider_info[0]}}" data-id="{{service_provider_info[1]}}">
                  {{service_provider_info[2]}}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{f.render_form_field(form.request_number)}}
    </div>
    <div class="eight wide column" style="padding-top: 0.3; padding-bottom: 0; padding-left: 100px">
      <div class="inline fields">
        <label>Show:</label>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="date_status" value="0">
            <label>Dated</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="date_status" value="1">
            <label>Undated</label>
          </div>
        </div>
      </div>
      <div class="field" style="padding: 0; margin: 0">
        {{ f.render_form_field(form.date_type) }}
      </div>
      <div class="inline fields" style="padding: 0; margin: 0">
        <div class="ui icon button" id="leftbutton">
          <i class="caret left icon"></i>
        </div>
        <select class="ui dropdown" id="time-period" name="time-period">
          <option value="">Nothing Selected</option>
          {% for choice in form.time_period.choices %}
          <option value={{ choice[0] }}>{{choice[1]}}</option>
          {% endfor %}
        </select>
        <div class="ui icon button" id="rightbutton">
          <i class="caret right icon"></i>
        </div>
      </div>
      <div class="fields" style="padding: 0; margin: 0">
        <div class="field" style="padding:0">
          <label style="margin-bottom: 0">{{ form.start_date.label }}:</label>
          <input type="date" id="start-date" name="trip-start" class="setDate" value="">
        </div>
        <div class="field">
          <label style="margin-bottom: 0">{{form.end_date.label}}:</label>
          <input type="date" id="end-date" name="trip-start" value="">
        </div>
      </div>
    </div>
  </div>

  <div class="ui one column centered grid">
    <div class="ui small button" type="submit" id="apply-filter-button">Apply Filters</div>
    <div class="ui small button" type="submit" id="clear-filter-button">Clear Filters</div>


  </div>
  {{f.end_form()}}


  <h3 class="header">Search Results</h3>
  <div class="ui mini button" type="submit" id="toggle-all-request-cards">Collapse All</div>
  <span class="number-of-requests" style="float: right">({{num_requests}}

    Results
    Found)</span>

  <hr />
  <div id="request-search-results">
    {% for request in requests %}
    {{request_card(
    request.request_num, request.request_type_id, request.request_status, request.requested_date_display,
    request.requested_date_full, request.requested_day_of_week,
    request.start_time,
    request.end_time, request.member_name, request.volunteer_name,
    request.request_type, request.service, request.created_date,
    request.modified_date, request.service_category, request.member_numbers, request.volunteer_ids,
    request.is_volunteer)
    }}
    {% endfor %}
  </div>

  {% assets 'search_request_js' %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% endblock %}