{% extends "admin/request_manager/index.html" %}
{% import 'macros/form_macros.html' as f %}

{% block request_content %}

<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <h2 class="header">Search Criteria</h2>

    {% set flashes = {
    'error': get_flashed_messages(category_filter=['form-error']),
    'warning': get_flashed_messages(category_filter=['form-check-email']),
    'info': get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    {{ f.begin_form(form, flashes) }}

    <div class="ui form">
      <!--Dropdown components-->
      <div class="ui two column stackable grid">
        <div class="six wide column">
          <div class="dropdown">
            <div class="field">
              <label> {{form.request_type.label}}</label>
              {{ form.request_type(size=5, class='form-control', multiple="multiple") }}
            </div>
            <div class="field">
              <label> {{form.request_status.label}}</label>
              {{ form.request_status(size=7, class='form-control', multiple="multiple") }}
            </div>
            <div class="field">
              <label> {{form.requesting_member.label}}</label>
              <select class="ui search dropdown">
                {% for choice in form.requesting_member.choices %}
                <option value={{ choice[0] }}>{{choice[1]}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="right floated six wide column">
          <div class="field">
            <label> {{form.service_category.label}}</label>
            {{ form.service_category(size=9, class='form-control', multiple="multiple") }}
          </div>
          <div class="field">
            <label> {{form.provider_type.label}}</label>
            {{ form.provider_type(size=4, class='form-control', multiple="multiple") }}
          </div>
          <div class="field">
            <label> {{form.service_provider.label}}</label>
            <select class="ui search dropdown">
              {% for choice in form.service_provider.choices %}
              <option value={{ choice[0] }}>{{choice[1]}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

      </div>
    </div>

    <!-- <div class="right floated six wide column">
          <select class="ui search dropdown">
            <div class="field">
              <label> {{form.requesting_member.label}}</label>
              {{form.requesting_member}}
            </div>
          </select>
        </div>
      </div> -->

    <!-- <div class="ui two column stackable grid">
        <div class="left floated six wide column">
          <select class="ui search dropdown">
            <div class="field">
              <label> {{form.service_provider.label}}</label>
              {{form.service_provider}}
            </div>
          </select>
        </div>
      </div> -->
</div>
</form>
</div>
{% endblock %}