{% extends 'admin/request_manager/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block request_content %}
{% set flashes = {
'error': get_flashed_messages(category_filter=['form-error']),
'warning': get_flashed_messages(category_filter=['form-check-email']),
'info': get_flashed_messages(category_filter=['form-info']),
'success': get_flashed_messages(category_filter=['form-success'])
} %}

{{ f.begin_form(form, flashes) }}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <h2 class="ui center aligned header">
      Transportation Request Form
    </h2>

    {{ f.render_form_field(form.date_created) }}
  </div>
  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.requested_date) }}
        {{ f.render_form_field(form.initial_pickup) }}
        {{ f.render_form_field(form.appointment) }}
      </div>
      <div class="right floated six wide column">
        {{ f.render_form_field(form.time_flexible) }}
        {{ f.render_form_field(form.return_pickup) }}
        {{ f.render_form_field(form.drop_off) }}
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.description) }}
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.service_category) }}

        {{ f.render_form_field(form.covidService) }}
        {{ f.render_form_field(form.transportationService) }}

        {{ f.render_form_field(form.starting_location) }}
      </div>
      <div class="right floated six wide column">
        {{ f.render_form_field(form.destination) }}
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
    {{ f.form_message(flashes['info'], header='Information', class='info') }}
    {{ f.form_message(flashes['success'], header='Success!', class='success') }}

    {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
    {{ f.render_form_field(field) }}
    {% endfor %}
  </div>
</div>
{{ f.end_form() }}
{% endblock %}