{% extends 'admin/request_manager/create_request.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block create_request_content %}
{% set flashes = {
'error': get_flashed_messages(category_filter=['form-error']),
'warning': get_flashed_messages(category_filter=['form-check-email']),
'info': get_flashed_messages(category_filter=['form-info']),
'success': get_flashed_messages(category_filter=['form-success'])
} %}

{{ f.begin_form(form, flashes, extra_classes="large") }}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <h2 class="ui center aligned header">Transportation Request Form</h2>
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.date_created) }}
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.requesting_member)}}
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable relaxed grid">
      <div class="two column row">
        <div class="six wide column">
          {{ f.render_form_field(form.requested_date) }}
        </div>
        <div class="right floated six wide column">
          {{ f.render_form_field(form.time_flexible) }}
        </div>
      </div>
      <div class="two column row">
        <div class="six wide column">
          {{ f.render_form_field(form.initial_pickup) }}
        </div>
        <div class="right floated six wide column">
          {{ f.render_form_field(form.return_pickup) }}
        </div>
      </div>
      <div class="two column row">
        <div class="six wide column">
          {{ f.render_form_field(form.appointment) }}
        </div>
        <div class="right floated six wide column">
          {{ f.render_form_field(form.drop_off) }}
        </div>
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.description) }}
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.service_category) }}
      </div>
      <div class="right floated six wide column">
        <div id="covid" style="display: none">
          {{ f.render_form_field(form.covid_service) }}
        </div>
        <div id="transportation">
          {{ f.render_form_field(form.transportation_service) }}
        </div>
      </div>
      <div class="right floated six wide column"></div>
    </div>

    <style>
      .column {
        position: relative;
      }

      .column .side-button {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    </style>

    <div>{{ f.render_form_field(form.starting_location) }}</div>
    <!-- <div class="ui two column stackable relaxed grid"> -->
    <!-- <div class="two column row"> -->
    <!-- <div class="eight wide column"> -->
    <div class="ui two column stackable grid">
      <div class="ui two column row">
        <div class="ten wide column">
          {{ f.render_form_field(form.destination) }}
        </div>
        <div class="right floated four wide column">
          <button
            type="button"
            class="ui inverted violet fluid button side-button"
            id="show-new-destination"
          >
            Add new address
          </button>
        </div>
      </div>
    </div>
    {{ f.render_form_field(form.duration) }}

    <div id = "providers" class="twelve wide column">
      {{ f.render_form_field(form.service_provider)}}
    </div>

    <script>
       const providerSelect = document.getElementById("service_provider");
       function updateTable() {
         const providerDiv = document.getElementById("providers");
         let selectedNames = [];
         for (const option of providerSelect.options) {
           if (option.selected)
             selectedNames.push(option.innerHTML)
         }

         const table = document.createElement('table');
         if (selectedNames.length > 0) {
           table.className += "ui celled table";
           const header = table.createTHead();
           const row = header.insertRow(0);
           const titleOne = row.insertCell(0);
           titleOne.innerHTML = "<b>Name</b>";
           const titleTwo = row.insertCell(1);
           titleTwo.innerHTML = "<b>Volunteer Type</b>";
           const titleThree = row.insertCell(2);
           titleThree.innerHTML = "<b>Volunteer Status</b>";
           const titleFour = row.insertCell(3);
           titleFour.innerHTML = "<b>Actions</b>";
           table.id = "volunteerDataTable";
         }

         for (const name of selectedNames) {
           const row = table.insertRow(1);
           const volunName = row.insertCell(0);
           volunName.innerHTML = name;
           const volunType = row.insertCell(1);
           volunType.innerHTML = "will be inserted";
           const volunStatus = row.insertCell(2);
           // when request editing is implemented flask should pass vars that are stored in volunStatus so the actual status can be displayed
           volunStatus.innerHTML = "Not contacted";
           const action = row.insertCell(3);
           action.innerHTML = "will be added";
         }

         if (!document.getElementById("volunteerDataTable")) {
           providerDiv.prepend(table);
         } else {
           providerDiv.replaceChild(table, document.getElementById("volunteerDataTable"));
         }
       }
       providerSelect.setAttribute("onchange", "updateTable()");
     </script>

    <div class="four fields" style = "margin-top: 10px">
      <div class="field">
        <button class="ui purple basic button" type="button">
          Send Request
        </button>
      </div>
      <div class="field">
        <button class="ui purple basic button" type="button">
          Confirmation
        </button>
      </div>
      <div class="field">
        <button class="ui purple basic button" type="button">Not Needed</button>
      </div>
      <div class="field">
        <button class="ui purple basic button" type="button">Summary</button>
      </div>
    </div>
  </div>

  <div id="new-service-provider" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Add Service Provider</div>
    <div class="content">
      <h3>Add New Service Provider</h3>
    </div>
  </div>

  <p id="special-instructions" style="display: none">
    {{form.special_instructions_list}}
  </p>

  <div class="twelve wide column">
    <div class="field" id="special-instructions-div">
      {{ f.render_form_field(form.special_instructions) }}
    </div>
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.follow_up_date) }} {{
        f.render_form_field(form.responsible_staffer) }}
      </div>
      <div class="right floated six wide column">
        {{ f.render_form_field(form.status) }} {{
        f.render_form_field(form.contact_log_priority) }}
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.person_to_cc) }}
  </div>

  <div id="new-destination" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Add New Destination</div>
    <div class="content">
      <h3>Add a New Address</h3>
      <div class="ui stackable centered grid container">
        <div class="twelve wide column">
          {{f.render_form_field(form.destination_name)}}
          {{f.render_form_field(form.street_address1)}}
          {{f.render_form_field(form.street_address2)}}
          {{f.render_form_field(form.city)}}
        </div>
        <div class="two column row">
          <div class="six wide column">{{f.render_form_field(form.state)}}</div>
          <div class="six wide column">{{f.render_form_field(form.zip)}}</div>
        </div>
        <div class="two column row">
          <div class="six wide column">
            {{f.render_form_field(form.country)}}
          </div>
          <div class="six wide column">
            {{f.render_form_field(form.add_address)}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#show-new-destination').click(function () {
      $('#new-destination').modal('show');
    });

    $('#show-new-service-provider').click(function () {
      $('#new-service-provider').modal('show');
    });

    function serviceChoices() {
      let service_category = document.getElementById('service_category').value;
      if (service_category === '1') {
        document.getElementById('covid').style.display = 'initial';
        document.getElementById('transportation').style.display = 'none';
      } else if (service_category === '0') {
        document.getElementById('covid').style.display = 'none';
        document.getElementById('transportation').style.display = 'initial';
      }
    }

    function specialInstructions() {
      let member_id = document.getElementById('member').value.toString();
      $('#special-instructions-div').empty();
      let str = document.getElementById('special-instructions').innerHTML;
      let obj = JSON.parse(str);
      $('#special-instructions-div').append(
        '<label class = "ui form field">Special Instructions:</label>'
      );
      $('#special-instructions-div').append(
        '<textarea name="special_instructions" class="ui textArea" >' +
          obj[member_id] +
          '</textarea>'
      );
      special_input = obj[member_id];
    }
  </script>

  <div class="twelve wide column">
    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
    {{ f.form_message(flashes['info'], header='Information', class='info') }}
    {{ f.form_message(flashes['success'], header='Success!', class='success') }}

    {{ f.render_form_field(form.submit, extra_classes=".ui .button") }}

    {{ f.end_form() }}
  </div>
</div>

{% endblock %}
