{% extends 'admin/request_manager/create_request.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block create_request_content %}
{% set flashes = {'error': get_flashed_messages(category_filter=['form-error']),
'warning': get_flashed_messages(category_filter=['form-check-email']),
'info': get_flashed_messages(category_filter=['form-info']),
'success': get_flashed_messages(category_filter=['form-success'])} %}

{{ f.begin_form(form, flashes, extra_classes="large") }}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <h2 class="ui center aligned header">Transportation Request Form</h2>
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.date_created) }}
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="ui two column row">
        <div class="ten wide column">
          {{ f.render_form_field(form.destination) }}
        </div>
        <div class="right floated four wide column">
          <button type="button" class="ui inverted violet fluid button side-button" id="show-new-address-button">
            Add new address
          </button>
        </div>
      </div>

      <!-- New Address Popup -->
      <div id="new-address-modal" class="ui modal">
        <form class="ui form"></form>
        <center>
          <h2 style="padding: 10px">Add New Address</h2>
        </center>
        <form class="ui form" style="padding: 10px">
          {{ form.csrf_token }}
          <div class="field">
            <label>Destination Address Name</label>
            <input type="text" id="address-name" required>
          </div>
          <div class="field">
            <label>Street Address or P.O. Box</label>
            <input type="text" id="street-address" required>
          </div>
          <div class="field">
            <label>Apt, suite, unit, building, floor, etc.</label>
            <input type="text" id="addr-cont">
          </div>
          <div class="field">
            <label>City</label>
            <input type="text" id="city" required>
          </div>
          <div class="field">
            <label>State</label>
            <input type="text" id="state" value="New York" required>
          </div>
          <div class="field">
            <label>Country</label>
            <input type="text" id="country" value="United States" required>
          </div>
          <div class="field">
            <label>Zip Code</label>
            <input type="text" id="zip">
          </div>
          <button class="ui button" id="address-modal-submit" onclick="sendAddressFormData()">Submit</button>
        </form>
      </div>

      <!-- New Address Function -->
      <script>
        $('#show-new-address-button').click(() => {
          $('#new-address-modal').modal('show');
        })

        function sendAddressFormData() {
          let fields = ["address-name", "street-address", "addr-cont", "city", "state", "country", "zip"]
          let required = new Set(["address-name", "street-address", "city", "state", "country"])
          let queryJSON = {};

          for (let i = 0; i < fields.length; i++) {
            const input = document.getElementById(fields[i]);
            if (required.has(fields[i]) && input.value === "") {
              return;
            }
            queryJSON[fields[i]] = input.value;
          }

          const protocol = window.location.protocol;
          const host = window.location.host;
          fetch(`${protocol}//${host}/admin/add-transportation-address`, {
            method: "POST",
            headers: {
              "Accept": "application/json",
              "Content-Type": "application/json",
              "X-CSRFToken": document.getElementById("csrf_token").value,
            },
            body: JSON.stringify(queryJSON)
          })
        }
      </script>

    </div>
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.requesting_member)}}
  </div>

  <div id="members" class="twelve wide column"></div>

  <div class="twelve wide column">
    <div class="ui two column stackable relaxed grid">
      <div class="two column row">
        <div class="six wide column">
          {{ f.render_form_field(form.requested_date) }}
        </div>
        <div class="right floated six wide column">
          {{ f.render_form_field(form.time_flexible) }}
        </div>
      </div>
      <div class="two column row">
        <div class="six wide column">
          {{ f.render_form_field(form.initial_pickup) }}
        </div>
        <div class="right floated six wide column">
          {{ f.render_form_field(form.return_pickup) }}
        </div>
      </div>
      <div class="two column row">
        <div class="six wide column">
          {{ f.render_form_field(form.appointment) }}
        </div>
        <div class="right floated six wide column">
          {{ f.render_form_field(form.drop_off) }}
        </div>
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.description) }}
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.service_category) }}
      </div>
      <div class="right floated six wide column">
        {{ f.render_form_field(form.transportation_service) }}
      </div>
      <div class="right floated six wide column"></div>
    </div>

    {{ f.render_form_field(form.starting_location) }}

    {{ f.render_form_field(form.dropoff_location) }}

    {{ f.render_form_field(form.duration) }}

    {{ f.render_form_field(form.service_provider)}}

    <div id="providers" class="twelve wide column"></div>

    <!-- Checkbox to filter available service providers -->
    <div class="ui checkbox">
      <input type="checkbox" id="filter-checkbox" onclick="filterProviders()">
      <label>Show Available Service Providers</label>
    </div>

    <div class="four fields" style="margin-top: 10px">
      <div class="field">
        <button id="show-send-req-modal" class="ui purple basic button" type="button">
          Send Request
        </button>
        <div id="send-req-modal" class="ui modal">
          <i class="close icon"></i>
          <div class="header">Are you sure you'd like to send this request?</div>
          <div class="content">
            <h4>A blank email will be sent if you haven't yet created the request<h4>
                <button onclick="sendRequests('send+request')" class="ui purple basic button" type="button">
                  Send Request
                </button>
                <div id="send-request-success-message" class="ui hidden positive message">
                  <i class="close icon"></i>
                  <div class="header">
                    Request sent
                  </div>
                  <p>The volunteers have been emailed!</p>
                </div>
          </div>
        </div>
      </div>
      <div class="field">
        <button id="show-confirmation-modal" class="ui purple basic button" type="button">
          Confirmation
        </button>
        <div id="confirmation-modal" class="ui modal">
          <i class="close icon"></i>
          <div class="header">Are you sure you'd like to send a confirmation email?</div>
          <div class="content">
            <h4>A blank email will be sent if you haven't yet created the request<h4>
                <button onclick="sendRequests('confirmation')" class="ui purple basic button" type="button">
                  Confirmation
                </button>
                <div id="confirmation-success-message" class="ui hidden positive message">
                  <i class="close icon"></i>
                  <div class="header">
                    Confirmation sent
                  </div>
                  <p>The volunteers have been emailed!</p>
                </div>
          </div>
        </div>
      </div>
      <div class="field">
        <button id="show-not-needed-modal" class="ui purple basic button" type="button">
          Not Needed
        </button>
        <div id="not-needed-modal" class="ui modal">
          <i class="close icon"></i>
          <div class="header">Are you sure you'd like to send a not needed email?</div>
          <div class="content">
            <h4>A blank email will be sent if you haven't yet created the request<h4>
                <button onclick="sendRequests('not+needed')" class="ui purple basic button" type="button">
                  Not Needed
                </button>
                <div id="not-needed-success-message" class="ui hidden positive message">
                  <i class="close icon"></i>
                  <div class="header">
                    Request sent
                  </div>
                  <p>The volunteers have been emailed!</p>
                </div>
          </div>
        </div>
      </div>
      <div class="field">
        <button id="show-summary-modal" class="ui purple basic button" onclick = "onSummaryClick()" type="button">
          Summary
        </button>
        <div id="summary-modal" class="ui modal">
          <i class="close icon"></i>
          <center><h2 style = "padding: 10px">Service Request Summary</h2></center>
          <hr size="9" width="100%" color="black">  
          <!-- <div class="header"><bold><font size="5">Service Request Summary</font></bold></div> -->
          <div class="content">
            <h4><h4>
              <table BORDER=0 CELLSPACING=10>
                <tr>
                  <td>Duration</td>
                  <td><div id = 'summary-duration'></div></td>
                  </tr>
              <tr>
              <td>Service Provider(s)</td>
              <td> 
                <div id = 'summary-providers'></div>
              </td>
              </tr>
              <tr>
              <td>Member(s)</td>
              <td>
                <div id = 'summary-members'></div>  
              </td>
              </tr>
              <tr>
              <td>Description</td>
              <td><div id = 'summary-description'></div></td>
              </tr>
              <tr>
              <td>Date/ Time</td>
              <td>
                <div id = 'summary-requested-date'></div>
              </td>
              </tr>
              <tr>
              <td>Initial Pickup</td>
              <td><div id = 'summary-initial-pickup'></td>
              </tr>
              <tr>
              <td>Return Pickup</td>
              <td><div id = 'summary-return-pickup'></td>
              </tr>
              <tr>
              <td>Appointment Time</td>
              <td><div id = 'summary-appointment'></td>
              </tr>
              <tr>
              <td>Dropoff Time</td>
              <td><div id = 'summary-dropoff'></td>
              </tr>
              <td>Time Flexible?</td>
              <td><div id = 'summary-time-flexible'></div></td>
              </tr>
              <tr>
              <td>Service</td>
              <td><div id = 'summary-service'></div></td>
              </tr>
              <tr>
              <td>Starting Location</td>
              <td><div id = 'summary-starting-location'></td>
              </tr>
              <tr>
              <td>Destination</td>
              <td><div id = 'summary-destination'></div></td>
              </tr>
              <tr>
              <td>Special Instructions</td>
              <td><div id = 'summary-special-instructions-text'></div></td>
              </tr>
              <tr>
              <td>Status</td>
              <td><div id = 'summary-status'></div></td>
              </tr>
              </table>
              <p><br></p>
                <button onclick="copyToClipboard()" class="ui purple basic button" type="button">
                  Copy to Clipboard
                </button>
              <p id="copySuccess"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p id="special-instructions" style="display: none">
    {{form.special_instructions_list}}
  </p>

  <div class="twelve wide column">
    <div class="field" id="special-instructions-div">
      {{ f.render_form_field(form.special_instructions) }}
    </div>
  </div>

  <div class="twelve wide column">
    <div class="ui two column stackable grid">
      <div class="six wide column">
        {{ f.render_form_field(form.follow_up_date) }} 
        {{ f.render_form_field(form.status) }}
      </div>
      <div class="right floated six wide column">
        {{ f.render_form_field(form.responsible_staffer) }}
        {{ f.render_form_field(form.contact_log_priority) }}
      </div>
    </div>
  </div>

  <div id="cancellation" class ="twelve wide column">
    {{f.render_form_field(form.cancellation_reasons)}}
  </div>

  <div class="twelve wide column">
    {{ f.render_form_field(form.person_to_cc) }}
  </div>

  <div class="twelve wide column">
    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
    {{ f.form_message(flashes['info'], header='Information', class='info') }}
    {{ f.form_message(flashes['success'], header='Success!', class='success') }}

    {{ f.render_form_field(form.submit, extra_classes=".ui .button") }}

    {{ f.end_form() }}
  </div>
</div>

{% assets 'show_cancellation_reason_js' %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets 'service_volunteers_js' %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
  document.getElementById("member").classList.add("search")
  document.getElementById("service-provider").classList.add("search")
  document.getElementById("destination").classList.add("search")

  $('#show-send-req-modal').click(() => {
    $('#send-req-modal').modal('show');
  });

  $('#show-confirmation-modal').click(() => {
    $('#confirmation-modal').modal('show');
  });

  $('#show-not-needed-modal').click(() => {
    $('#not-needed-modal').modal('show');
  });

  $('#show-summary-modal').click(() => {
    $('#summary-modal').modal('show');
  })

  function specialInstructions() {
    const member = document.getElementById('member')
    let acum = ""
    for (const option of member.options) {
      if (option.selected) {
        $('textarea#special-instructions-text').empty();
        let member_id = option.value.toString();
        let str = document.getElementById('special-instructions').innerHTML;
        let obj = JSON.parse(str);
        acum = acum + option.label + ": " + obj[member_id] + "\n\n"
      }
    }
    $('textarea#special-instructions-text').val(
      acum
    );
    special_input = acum;
  }

  // Service Provider Table Logic
  const providerSelect = document.getElementById("service-provider");
  var websiteHost = window.location.host;
  var protocol = window.location.protocol;

  var filtered = false;

  // This function should be called whenever the checkbox clicked (onChange)
  function filterProviders() {
    if (!filtered) {
      // Construct JSON payload to send to server
      let payload;
      try {
        payload = JSON.stringify({
          serviceProviders: selectedIds,
          requestedDate: document.getElementById("requested-date").valueAsDate.toUTCString(),
          initialPickup: document.getElementById("initial-pickup").valueAsDate.toUTCString(),
          returnPickup: document.getElementById("return-pickup").valueAsDate.toUTCString()
        })
      } catch (err) {
        alert("Please enter valid dates, times, and service providers before attempting to filter");
        document.getElementById("filter-checkbox").checked = false;
        return;
      }
      fetch(`${protocol}//${websiteHost}/admin/filter-service-providers`, {
        method: "POST",
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json",
          "X-CSRFToken": document.getElementById("csrf_token").value,
        },
        body: payload
      })
        .then((response) => {
          // res should be a JSON list of volunteer names
          return response.json()
        })
        .then((data) => {
          filtered = true;
          selectedIds = data;
          selectedNames = [];
          for (const option of providerSelect.options) {
            if (option.selected) {
              for (const id of selectedIds) {
                if (option.getAttribute("value") == id) {
                  selectedNames.push(option.innerHTML);
                }
              }
            }
          }
          updateTable();
        })
    }
    else {
      filtered = false;
      changeProviders();
    }
  }

  function changeProviders() {
    filtered = false;
    document.getElementById("filter-checkbox").checked = false;
    selectedNames = [];
    selectedIds = [];
    for (const option of providerSelect.options) {
      if (option.selected) {
        selectedNames.push(option.innerHTML);
        selectedIds.push(option.getAttribute("value"));
      }
    }
    updateTable();
  }

  function updateTable() {
    const providerDiv = document.getElementById("providers");
    const table = document.createElement('table');
    if (selectedNames.length > 0) {
      table.className += "ui celled table";
      const header = table.createTHead();
      const row = header.insertRow(0);
      const headers = ["Name", "Address", "Location", "Phone Number", "Contact Method", "Type", "Email Address", "Fully Vetted"]
      row.insertCell(0);
      for (let i = 1; i <= headers.length; i++) {
        const tempHeaderCell = row.insertCell(i);
        tempHeaderCell.innerHTML = "<b>" + headers[i - 1] + "</b>";
      }
      table.id = "volunteerDataTable";
    }

    const volDataArr = {{ volunteer_data | safe }}

    for (const volName of selectedNames) {
      const row = table.insertRow(1);
      const boxEntry = row.insertCell(0);
      const checkBox = document.createElement("INPUT");
      checkBox.setAttribute("type", "checkbox");
      checkBox.className += "ui checkbox";
      checkBox.name = "selectedVolunteersCheckBox";
      volDataArr.find(vol => {
        if (vol[0] == volName)
          checkBox.value = vol[3] + "|" + vol[6];
      })
      boxEntry.appendChild(checkBox);
      const volunteer = volDataArr.find(volObj => volObj[0] == volName);
      for (let i = 0; i < volunteer.length; i++) {
        const tempVolData = row.insertCell(i + 1);
        tempVolData.innerHTML = volunteer[i];
      }
    }

    if (!document.getElementById("volunteerDataTable")) {
      providerDiv.prepend(table);
    } else {
      providerDiv.replaceChild(table, document.getElementById("volunteerDataTable"));
    }
  }
  providerSelect.setAttribute("onchange", "changeProviders()");

  function sendRequests(buttonType) {
    const checkBoxStates = document.getElementsByName("selectedVolunteersCheckBox");
    const checkBoxArr = Array.prototype.slice.call(checkBoxStates);
    const volunteersToReq = checkBoxArr.filter(box => box.checked);
    let emails = ""
    for (const vol of volunteersToReq)
      emails += vol.value.split("|")[1] + "&";

    emails = emails.substring(0, emails.length - 1);
    const req_id = {{ req_id | safe
     }}
     fetch(`${protocol}//${websiteHost}/admin/create-request/send-emails?${buttonType}&${req_id ? req_id : -1}&Transportation&${emails}`);

    const buttonId = `${buttonType.replace('+', '-') + '-success-message'}`
    document.getElementById(buttonId).classList.remove('hidden');
    document.getElementById(buttonId).classList.add('visible');
  }
</script>
<!-- End service provider table logic -->

<!-- Begin Script for Displaying Member Table + Summary Popup -->
<script>
  const memberSelect = document.getElementById("member");
  const dateSelect = document.getElementById("requested-date");
  const timeSelect = document.getElementById('input[type="radio"]:checked');

  function updateMemberTable() {
    const memberDiv = document.getElementById("members");
    let selectedMembers = [];

    for (const option of memberSelect.options) {
      if (option.selected)
        selectedMembers.push(option.innerHTML)
    }

    const table = document.createElement('table');

    if (selectedMembers.length > 0) {
      table.className += "ui celled table";
      const header = table.createTHead();
      const row = header.insertRow(0);
      const headers = ["Name", "Exp. Date", "Email", "Phone Number", "Home Address"]
      //Add condition to check that home address exists, if not just leave blank
      //Add header for member type but put in dummy value
      for (let i = 0; i < headers.length; i++) {
        const tempHeaderCell = row.insertCell(i);
        tempHeaderCell.innerHTML = "<b>" + headers[i] + "</b>";
      }
      table.id = "memberDataTable";
    }

    const memberDataArr = {{ member_data | safe }}

    for (const memberName of selectedMembers) {
      const row = table.insertRow(1);
      const member = memberDataArr.find(memObj => memObj[0] == memberName);
      for (let i = 0; i < member.length; i++) {
        const tempMemData = row.insertCell(i);
        tempMemData.innerHTML = member[i];
      }
    }

    if (!document.getElementById("memberDataTable")) {
      memberDiv.prepend(table);
    } else {
      memberDiv.replaceChild(table, document.getElementById("memberDataTable"));
    }
  }

  function onMemberChange() {
    updateMemberTable();
    specialInstructions();
  }
  memberSelect.setAttribute("onchange", "onMemberChange()");

  function onSummaryClick() {
    resetTextToCopy();
    displayDuration();
    displayServiceProviders();
    displayMemberChoices();
    displayDescription();
    displayRequestedDate();
    displayTime();
    displayTimeFlexible();
    displayService();
    displayStartingLocation();
    displayDestination();
    displaySpecialInstructions();
    displayStatus();
  }    

  let textToCopy = "";
  function copyToClipboard() {
    var copyText = textToCopy;
    navigator.clipboard.writeText(copyText);
    document.getElementById("copySuccess").innerHTML = "Copied successfully!"
  }
  
  function resetTextToCopy() {
    document.getElementById("copySuccess").innerHTML = ""
    textToCopy = "";
  }
  
  function displayMemberChoices() {
    // onclick()--> populate the fields with these values
    const selected = memberSelect.selectedOptions;
    let toDisplay = "";
    let i = 1;
    for (const selOpt of selected) {
      if (i == selected.length){
        toDisplay += selOpt.innerHTML + " ";
        i++;
      } else {
        toDisplay += selOpt.innerHTML + ", ";
        i++;
      }
      
    }
    textToCopy += "\n\nRequesting Members: " + toDisplay;
    document.getElementById("summary-members").innerHTML = toDisplay;
  }

  function displayService() {
    // onclick()--> populate the fields with these values
    const selected = document.getElementById("services");
    let toDisplay = selected.options[selected.selectedIndex].text;
    textToCopy += "\n\nService: " + toDisplay;
    document.getElementById("summary-service").innerHTML = toDisplay;
  }

  function displayServiceProviders() {
    // onclick()--> populate the fields with these values
    const selected = document.getElementById('service-provider').selectedOptions;
    let toDisplay = "";
    let i = 1;
    for (const selOpt of selected) {
      if (i == selected.length){
        toDisplay += selOpt.innerHTML + " ";
        i++;
      } else {
        toDisplay += selOpt.innerHTML + ", ";
        i++;
      }
      
    }
    textToCopy += "\n\nService Providers: " + toDisplay;
    document.getElementById("summary-providers").innerHTML = toDisplay;
  }
    

  function displayDescription() {
    // onclick()--> populate the fields with these values
    const selected = document.getElementById('description').value;
    let toDisplay = "";
    toDisplay = selected;

    textToCopy += "\n\nDescription: " + toDisplay;
    document.getElementById("summary-description").innerHTML = toDisplay;
  }

  function displaySpecialInstructions() {
    const selected = document.getElementById('special-instructions-text').value;
    textToCopy += "\n\nSpecial Instructions: \n";
    let arr = selected.split("\n\n");
    let toDisplay = "";
    for(i = 0; i < arr.length; i++) {
      if(i<arr.length -1) {
        toDisplay += arr[i] + "<br><br>";
        textToCopy += arr[i] + "\n\n";
      }
      else {
        toDisplay+= arr[i];
        textToCopy += arr[i];
      }
    }
    document.getElementById('summary-special-instructions-text').innerHTML = toDisplay;
  }

  function displayRequestedDate(){
    const selected = dateSelect.value;
    let toDisplay = selected;
    textToCopy += "\n\nDate: " + toDisplay;
    document.getElementById("summary-requested-date").innerHTML = toDisplay;
  }

  function displayTime(){
    const selected = document.getElementById('initial-pickup').valueAsDate;
    const selected2 = document.getElementById('return-pickup').valueAsDate;
    const selected3 = document.getElementById('appointment').valueAsDate;
    const selected4 = document.getElementById('dropoff').valueAsDate;
    initialPickupTime = convertTimeFromValueAsDate(selected);
    finalPickupTime = convertTimeFromValueAsDate(selected2);
    appointmentTime = convertTimeFromValueAsDate(selected3);
    dropoffTime = convertTimeFromValueAsDate(selected4);

    textToCopy += "\n\nInitial Pickup: " + initialPickupTime;
    textToCopy += "\n\nReturn Pickup: " + finalPickupTime;
    textToCopy += "\n\nAppointment Time: " + appointmentTime;
    textToCopy += "\n\nDropoff Time: " + dropoffTime;
    document.getElementById("summary-initial-pickup").innerHTML = initialPickupTime;
    document.getElementById("summary-return-pickup").innerHTML = finalPickupTime;
    document.getElementById("summary-appointment").innerHTML = appointmentTime;
    document.getElementById("summary-dropoff").innerHTML = dropoffTime;
  }

  function convertTimeFromValueAsDate(val) {
    try {
      const dateArr = val.toString().split(" "); //parsing GMT string for date
      const timeArr = dateArr[4].split(":");  //finding time from date string
      let hours = parseInt(timeArr[0]);
      let daylightSavings = dateArr[5].charAt(5) == "5" ? true : false;
      daylightSavings ? hours = hours + 5: hours = hours + 4; //accounting for daylight savings
      if(hours >= 24) { //if military time goes over 24 then set to 0
        hours = hours%24;
      }
      isPm = hours >=12 ? true : false; //isPm
      if(isPm) {
        hours = hours % 12; //converting military time to normal time
      }
      if(hours == 0) { //changing hours from 0 to 12
        hours = 12;
      }
      let toDisplay = "" + hours + ":" + timeArr[1] + ":" + timeArr[2];
      isPm ? toDisplay += " PM" : toDisplay += " AM";
      //let toDisplay = selected; 
      
      return toDisplay
    }
    catch (error) {
      console.log("empty date error")
    }
  }


  function displayStartingLocation(){
    const selected = document.getElementById('starting-location').value;
    let toDisplay = "";
    toDisplay = selected;
    textToCopy += "\n\nStarting Location: " + toDisplay;
    document.getElementById("summary-starting-location").innerHTML = toDisplay;
  }


  function displayDestination(){
    const selected = document.getElementById('destination').selectedOptions;
    let toDisplay = "";
    let i = 1;
    for (const selOpt of selected) {
      if (i == selected.length){
        toDisplay += selOpt.innerHTML + " ";
        i++;
      } else {
        toDisplay += selOpt.innerHTML + ", ";
        i++;
      }

    }
    textToCopy += "\n\nDestination: " + toDisplay;
    document.getElementById("summary-destination").innerHTML = toDisplay;
  }

  function displayStatus() {
    // onclick()--> populate the fields with these values
    const statuses = {
      "0":"Requested",
      "1":"Confirmed",
      "2":"Completed",
      "3":"Cancelled"
    }
    const selected = statuses[document.getElementById('status').value];
    let toDisplay = selected;
    textToCopy += "\nStatus: " + toDisplay;
    document.getElementById("summary-status").innerHTML = toDisplay;
  }

  function displayTimeFlexible(){
    var yesisTruenoisFalse = -1;
    for (var i = 0; i < document.querySelectorAll('[type="radio"]').length ; i++){
      if (document.querySelectorAll('[type="radio"]')[0].checked){
        yesisTruenoisFalse = 'Yes';
      } else if (document.querySelectorAll('[type="radio"]')[1].checked){
        yesisTruenoisFalse = 'No';
      }
    }
    if (yesisTruenoisFalse != -1) {
      textToCopy += "\n\nTime Flexible: " + yesisTruenoisFalse;
      document.getElementById("summary-time-flexible").innerHTML = yesisTruenoisFalse;
    }
  }

  function displayDuration() {
    var duration = -1;
    let duration_text = "placeholder";
    for (var i = 0; i < document.querySelectorAll('[type="radio"]').length ; i++){
     if(document.querySelectorAll('[type="radio"]')[2].checked) {
        duration = 0;
        duration_text = "One Way";
      }
      else if(document.querySelectorAll('[type="radio"]')[3].checked) {
        duration = 0;
        duration_text = "Round Trip";
      }
    }
    if (duration > -1) {
      textToCopy += "Duration: " + duration_text;
      document.getElementById("summary-duration").innerHTML = duration_text;
    }

  }
</script>

<style>
  .column {
    position: relative;
  }

  .column .side-button {
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>

{% endblock %}