


{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>{% if not (current_user.is_authenticated) %} LOVE LIVING AT HOME {% else %} Hello {{ current_user.full_name() }} {% endif %}</h1>
       
          {% if not (current_user.is_authenticated) %} You are not an authorised user.

          {% else %} 

          <p> This is the official website of the Love Living at Home Organisation. It employs a range of functionalities 
            that makes the management of new and current members, volunteers and resources more efficient. Some of these functionalities include:
          </p>

          <div  style=" border-width: 3px; border-color: dimgray; border-style: solid; padding: 2%; margin-top: 5%; border-radius: 20px;">
            <p> <h2> Administrator Dashboard </h2> </p>

            <ul>

              <p>
                <li><p><strong>Account Management</strong></p></li>
                <ul>
                 <li> 
                   <em><u>Registered User</u></em> - This displays a table where the user can view and manage 
                   currently registered users and other administrators.
                 </li>
                 <li> 
                   <em><u>Add New User</u></em> - Provides a form that allows the user to create a new user account.
                 </li>
                 <li> 
                   <em><u>Invite New User</u></em> - Allows the user to enter a new user name and email address and to send a request 
                   to a new user to create an account.
                 </li>
                </ul>
              </p>
             
              <p>
                <li><p><strong>System Configuration</strong></p></li>
                <ul>
                  <li> 
                    <em><u>Edit Services</u></em> - Allows the user to remove or edit a current service and add a new service. 
                  </li>
                  <li> 
                    <em><u>Edit Service Categories</u></em> - Allows the user to remove or edit a current service category or add a 
                    new service category. 
                  </li>
                  <li> 
                    <em><u>Edit Metro Areas</u></em> - Allows the user to edit or remove a current metro area or add a new metro area. 
                  </li>
                  <li> 
                    <em><u>Edit Destination Address</u></em>- Allows the user to view and manage the destination addresses. 
                  </li>
                </ul>
              </p>
              
              <p>
                <li><p><strong>Additional Actions</strong></p></li>
                <ul>
                <li> 
                  <em><u>Generate Report</u></em> - Allows the user to create a report of all the completed volunteer services by category. 
                </li>
                </ul>
              </p>
              
            </ul>
          </div>



          <div  style=" border-width: 3px; border-color: dimgray; border-style: solid; padding: 2%; margin-top: 5%; border-radius: 20px;">
            <p> <h2> Request Manager </h2> </p>

            <ul>

              <p>
                <li><p><strong>Create Request</strong></p></li>
                <p> Provides a form to allow the user to create a request. The form can be of three types: </p>
                <ul>
                  <li> 
                    <em>Transportation Request Form</em>
                  </li>
                  <li> 
                    <em>Member's Home Request Form</em>
                  </li>
                  <li> 
                    <em>Office Time Request Form</em>
                  </li>
                </ul>
              </p>
             
              <p>
                <li><p><strong>Search Request</strong></p></li>
                <p> Uses various filters to help the user search for a specific type of request</p>
              </p>

            </ul>
          </div>


          <div  style=" border-width: 3px; border-color: dimgray; border-style: solid; padding: 2%; margin-top: 5%; border-radius: 20px;">
            <p> <h2> People Manager</h2> </p>

            <ul>

              <p>
                <li><p><strong>Members</strong></p></li>
                <ul>
                  <li> 
                    <em><u>Add Member</u></em> - Allows the user to add a new member to the Love Living at Home Members database. 
                  </li>
                  <li> 
                    <em><u>Search Results</u></em> - Displays a table showing all the members associated with Love Living at Home
                    that suit a specific search criteria. Each member is portrayed as a card that allows the user to edit member information.
                  </li>
                </ul>
              </p>
              
              <p>
                <li><p><strong>Volunteers</strong></p></li>
                <ul>
                  <li> 
                    <em><u>Add Volunteers </u></em> - Allows the user to add a new volunteer to the Love Living at Home Volunteers database.  
                  </li>
                  <li> 
                    <em><u>Search Results</u></em> - Displays a table showing all the volunteers associated with Love Living at Home
                    that suit a specific search criteria. Each volunteer is portrayed as a card that allows the user to edit volunteer information.
                  </li>
                </ul>
              </p>
              
              <p>
                <li><p><strong>Local Resources</strong></p></li>
                <ul>
                  <li> 
                    <em><u>Add Local Resource</u></em> - Allows the user to add a new affiliated organisation 
                    to the Love Living at Home Local Resource database.  
                  </li>
                  <li> 
                    <em><u>Search Results</u></em> - Displays a table showing all the organisations associated with Love Living at Home
                    Each resource is portrayed as a card that allows the user to edit resource information.
                  </li>
                </ul>
              </p>
              
            </ul>
          </div>

         
          <div  style=" border-width: 3px; border-color: dimgray; border-style: solid; padding: 2%; margin-top: 5%; border-radius: 20px;">

            <p> <h2> Your Account </h2> 
            <p> Allows the user to manage their account settings and change their login information.</p>
            </p>

          </div>

          {% endif %}

    </div>
{% endblock %}
