{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block content %}
<div class="ui stackable centered grid container">
    <div class="twelve wide column">
        <a class="ui basic compact button" href="{{ url_for('admin.people_manager', active=active) }}">
            <i class="caret left icon"></i>
            Back to dashboard
        </a>

        {% set flashes =
        { 'error': get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info': get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success']) }
        %}

        {{ f.begin_form(form, flashes) }} 

        {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
        {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
        {{ f.form_message(flashes['info'], header='Information', class='info') }}
        {{ f.form_message(flashes['success'], header='Success!', class='success') }}

        <h2 class="ui header">
            Add Availability for {{ form.availability_identity.label }}
        </h2>

        <div class="ui header">Monday</div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.availability_monday_start) }}
                    {{ f.render_form_field(form.availability_monday_end) }}
                </div>
            </span>
        </div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available For Backup:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.backup_monday_start) }}
                    {{ f.render_form_field(form.backup_monday_end) }}
                </div>
            </span>
        </div>

        <div class="ui header">Tuesday</div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.availability_tuesday_start) }}
                    {{ f.render_form_field(form.availability_tuesday_end) }}
                </div>
            </span>
        </div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available For Backup:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.backup_tuesday_start) }}
                    {{ f.render_form_field(form.backup_tuesday_end) }}
                </div>
            </span>
        </div>

        <div class="ui header">Wednesday</div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.availability_wednesday_start) }}
                    {{ f.render_form_field(form.availability_wednesday_end) }}
                </div>
            </span>
        </div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available For Backup:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.backup_wednesday_start) }}
                    {{ f.render_form_field(form.backup_wednesday_end) }}
                </div>
            </span>
        </div>

        <div class="ui header">Thursday</div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.availability_thursday_start) }}
                    {{ f.render_form_field(form.availability_thursday_end) }}
                </div>
            </span>
        </div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available For Backup:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.backup_thursday_start) }}
                    {{ f.render_form_field(form.backup_thursday_end) }}
                </div>
            </span>
        </div>

        <div class="ui header">Friday</div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.availability_friday_start) }}
                    {{ f.render_form_field(form.availability_friday_end) }}
                </div>
            </span>
        </div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available For Backup:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.backup_friday_start) }}
                    {{ f.render_form_field(form.backup_friday_end) }}
                </div>
            </span>
        </div>

        <div class="ui header">Saturday</div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.availability_saturday_start) }}
                    {{ f.render_form_field(form.availability_saturday_end) }}
                </div>
            </span>
        </div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available For Backup:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.backup_saturday_start) }}
                    {{ f.render_form_field(form.backup_saturday_end) }}
                </div>
            </span>
        </div>

        <div class="ui header">Sunday</div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.availability_sunday_start) }}
                    {{ f.render_form_field(form.availability_sunday_end) }}
                </div>
            </span>
        </div>
        <div class="ui segment">
            <a class="ui purple ribbon label">Available For Backup:</a>
            <span>
                <div class="two fields">
                    {{ f.render_form_field(form.backup_sunday_start) }}
                    {{ f.render_form_field(form.backup_sunday_end) }}
                </div>
            </span>
        </div>

        {{ f.render_form_field(form.submit) }}

        {{ f.end_form() }}
    </div>
</div>

{% endblock %}