{% extends 'layouts/base.html' %} {% import 'macros/form_macros.html' as f %} {%
import 'macros/check_password.html' as check %} {% block scripts %} {% endblock
%} {% block content %}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <a class="ui basic compact button" href="{{ url_for('admin.people_manager') }}">
      <i class="caret left icon"></i>
      Back to dashboard
    </a>
    <h2 class="ui header">
      Contractor Manager
      <div class="sub header">Create a new contractor account</div>
    </h2>

    {% set flashes = { 'error':
    get_flashed_messages(category_filter=['form-error']), 'warning':
    get_flashed_messages(category_filter=['form-check-email']), 'info':
    get_flashed_messages(category_filter=['form-info']), 'success':
    get_flashed_messages(category_filter=['form-success']) } %} {{
    f.begin_form(form, flashes) }} {{
    f.render_form_field(form.organization_name) }} {{
    f.render_form_field(form.address) }} {{
    f.render_form_field(form.phone_number) }}

    <div class="field">{{ f.render_form_input(form.email) }}</div>

    <div class="field">
      <button class="fluid inverted violet ui button" id="show-reviews">
        Reviews
      </button>
    </div>


    {{ f.form_message(flashes['error'], header='Something went wrong.',
    class='error') }} {{ f.form_message(flashes['warning'], header='Check your
    email.', class='warning') }} {{ f.form_message(flashes['info'],
    header='Information', class='info') }} {{ f.form_message(flashes['success'],
    header='Success!', class='success') }} {% for field in form |
    selectattr('type', 'equalto', 'SubmitField') %} {{
    f.render_form_field(field) }} {% endfor %} {{ f.end_form() }}
  </div>
</div>


<div class="ui modal" id="reviews">
  <i class="close icon"></i>
  <div class="header">Reviews</div>

  {% set flashes = { 'error':
  get_flashed_messages(category_filter=['form-error']), 'warning':
  get_flashed_messages(category_filter=['form-check-email']), 'info':
  get_flashed_messages(category_filter=['form-info']), 'success':
  get_flashed_messages(category_filter=['form-success']) } %} {{
  f.begin_form(reviews, flashes) }}

  <div class="ui styled fluid accordion">
    <div class="active title">
      <i class="dropdown icon"></i>
      Add A Review
    </div>
    <div class="active content">
      <div class="two fields">
        <div class="field">
          {{ f.render_form_field(reviews.reviewer_name) }}
        </div>
        <div class="field">
          <label>Rating:</label>
          <div class="ui massive star rating" data-max-rating="5"></div>
        </div>
      </div>
      {{ f.render_form_field(reviews.notes) }}
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Previous Reviews
    </div>
    <div class="content">
      <div class="transition hidden">
        <div class="ui form">{{ f.render_form_field(reviews.notes) }}</div>
      </div>
    </div>

    {{ f.form_message(flashes['error'], header='Something went wrong.',
    class='error') }} {{ f.form_message(flashes['warning'], header='Check your
    email.', class='warning') }} {{ f.form_message(flashes['info'],
    header='Information', class='info') }} {{ f.form_message(flashes['success'],
    header='Success!', class='success') }} {% for field in form |
    selectattr('type', 'equalto', 'SubmitField') %} {{
    f.render_form_field(reviews.submit) }} {% endfor %} {{ f.end_form() }}
  </div>

  <script>
    $('#show-reviews').click(function () {
      $('#reviews').modal('show');
    });

    $('.ui.accordion').accordion({ exclusive: false });

    $('.ui.rating').rating();
  </script>

  {% endblock %}
</div>