{% extends 'layouts/base.html' %} 
{% import 'macros/form_macros.html' as f %} 
{% import 'macros/check_password.html' as check %} 
{% block content %}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <a class="ui basic compact button" href="{{ url_for('admin.people_manager', active='local-resource') }}">
      <i class="caret left icon"></i>
      Back to dashboard
    </a>
    <h2 class="ui header">
      Local Resource Manager
      <div class="sub header">Create a new local resource profile</div>
    </h2>

    {% set flashes = { 'error':
    get_flashed_messages(category_filter=['form-error']), 'warning':
    get_flashed_messages(category_filter=['form-check-email']), 'info':
    get_flashed_messages(category_filter=['form-info']), 'success':
    get_flashed_messages(category_filter=['form-success']) } %} 
    
    {{ f.begin_form(form, flashes) }}

    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
    {{ f.form_message(flashes['info'], header='Information', class='info') }}
    {{ f.form_message(flashes['success'], header='Success!', class='success') }}

    <div class="ui header">General Information</div>
    {{ f.render_form_field(form.first_name, extra_classes="required") }}
    {{ f.render_form_field(form.middle_initial) }}
    {{ f.render_form_field(form.last_name, extra_classes="required") }}
    {{ f.render_form_field(form.salutation) }}
    {{ f.render_form_field(form.company_name, extra_classes="required") }}

    <div class="ui header">Primary Address</div>
    <div class="field required">
      <label>Address</label>
      <div class="field">
        {{ form.primary_address1(placeholder = form.primary_address1.label.text) }}
      </div>
      <div class="field">
        {{ form.primary_address2(placeholder = form.primary_address2.label.text) }}
      </div>
    </div>

    <div class="three fields">
      {{ f.render_form_field(form.primary_city, extra_classes="required") }}
      {{ f.render_form_field(form.primary_state, extra_classes="required") }}
      {{ f.render_form_field(form.primary_zip_code, extra_classes="required") }}
    </div>

    {{ f.render_form_field(form.primary_country, extra_classes="required") }}
    {{ f.render_form_field(form.primary_metro_area) }}


    <div class="ui header">Contact Information</div>
    {{ f.render_form_field(form.primary_phone_number, extra_classes="required") }}
    {{ f.render_form_field(form.secondary_phone_number) }}
    {{ f.render_form_input(form.email_address) }}

    <br><br />
    <div class="inline fields">
      {{ f.render_form_field(form.preferred_contact_method)}}
    </div>

    {{ f.render_form_field(form.website) }}

    {% for field in form | selectattr('type', 'equalto', 'SubmitField') %} 
    {{f.render_form_field(field) }} 
    {% endfor %} 
    
    {{ f.end_form() }}

  </div>
</div>

<script>
  $('.ui.radio.checkbox')
    .checkbox();
</script>

{% endblock %}