{% extends 'layouts/base.html' %} 
{% import 'macros/form_macros.html' as f %} 
{% import 'macros/check_password.html' as check %} 
{% block content %}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <a class="ui basic compact button" href="{{ url_for('admin.people_manager', active='member') }}">
      <i class="caret left icon"></i>
      Back to dashboard
    </a>
    <h2 class="ui header">
      Member Manager
      <div class="sub header">Create a new member account</div>
    </h2>

    {% set flashes = { 'error':
    get_flashed_messages(category_filter=['form-error']), 'warning':
    get_flashed_messages(category_filter=['form-check-email']), 'info':
    get_flashed_messages(category_filter=['form-info']), 'success':
    get_flashed_messages(category_filter=['form-success']) } %} 

    {{ f.begin_form(form, flashes) }}

    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
    {{ f.form_message(flashes['info'], header='Information', class='info') }}
    {{ f.form_message(flashes['success'], header='Success!', class='success') }}


    <div class="three fields">
      {{ f.render_form_field(form.first_name, extra_classes="required") }}
      {{ f.render_form_field(form.middle_initial) }}
      {{ f.render_form_field(form.last_name, extra_classes="required") }}
    </div>
    {{ f.render_form_field(form.preferred_name) }}

    <div class="two fields">
      {{ f.render_form_field(form.member_number, extra_classes="required")}}
      {{ f.render_form_field(form.membership_expiration_date, extra_classes="required") }}
    </div>

    <div class="two fields">
      {{ f.render_form_field(form.salutation) }}
      {{ f.render_form_field(form.gender, extra_classes="required") }}
      {{ f.render_form_field(form.birthdate, extra_classes="required") }}
    </div>

    <div class="ui header">Primary Address</div>
    <div class="field required">
      <label>Address</label>
      <div class="field required">
        {{ form.primary_address1(placeholder = form.primary_address1.label.text) }}
      </div>
      <div class="field">
        {{ form.primary_address2(placeholder = form.primary_address2.label.text) }}
      </div>
    </div>

    <div class="three fields">
      {{ f.render_form_field(form.primary_city, extra_classes="required") }}
      {{ f.render_form_field(form.primary_state, extra_classes="required") }}
      {{ f.render_form_field(form.primary_zip_code, extra_classes="required") }}
    </div>

    {{ f.render_form_field(form.primary_country, extra_classes="required") }}
    {{ f.render_form_field(form.primary_metro_area) }}

    <div class="ui header">Secondary Address</div>
    {{ f.render_form_field(form.secondary_as_primary_checkbox) }}
    <div class="field">
      <label>Address</label>
      <div class="field">
        {{ form.secondary_address1(placeholder = form.secondary_address1.label.text) }}
      </div>
      <div class="field">
        {{ form.secondary_address2(placeholder = form.secondary_address2.label.text) }}
      </div>
    </div>

    <div class="three fields">
      {{ f.render_form_field(form.secondary_city) }}
      {{ f.render_form_field(form.secondary_state) }}
      {{ f.render_form_field(form.secondary_zip_code) }}
    </div>

    {{ f.render_form_field(form.secondary_country) }}
    {{ f.render_form_field(form.secondary_metro_area) }}

    <div class="ui header">Contact Information</div>
    {{ f.render_form_field(form.primary_phone_number, extra_classes="required") }}
    {{ f.render_form_field(form.secondary_phone_number) }}
    {{ f.render_form_field(form.email_address) }}
    {{ f.render_form_field(form.preferred_contact_method, extra_classes="inline fields") }}

    <div class="ui header">Emergency Contact Information</div>
    {{ f.render_form_field(form.emergency_contact_name)}}
    {{ f.render_form_field(form.emergency_contact_relationship) }}
    {{ f.render_form_field(form.emergency_contact_phone_number) }}
    {{ f.render_form_field(form.emergency_contact_email_address) }}

    {{ f.render_form_field(form.volunteer_notes) }}
    {{ f.render_form_field(form.staffer_notes)}}

    {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
    {{ f.render_form_field(field) }}
    {% endfor %}

    {{ f.end_form() }}
  </div>
</div>
{% endblock %}