{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %} 
{% block content %}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <a class="ui basic compact button" href="{{ url_for('admin.people_manager', active='volunteer') }}">
      <i class="caret left icon"></i>
      Back to dashboard
    </a>
    <h2 class="ui header">
      Add New Member Volunteer
      <div class="sub header">Create a new member volunteer account</div>
    </h2>

    {% set flashes = { 'error':
    get_flashed_messages(category_filter=['form-error']), 'warning':
    get_flashed_messages(category_filter=['form-check-email']), 'info':
    get_flashed_messages(category_filter=['form-info']), 'success':
    get_flashed_messages(category_filter=['form-success']) } %} 

    {{ f.begin_form(form, flashes) }}

    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
    {{ f.form_message(flashes['info'], header='Information', class='info') }}
    {{ f.form_message(flashes['success'], header='Success!', class='success') }}
    
    <div class="field">
      <input name="member" type="hidden" id="member"></input>
      <div id="select-member" class="ui search selection dropdown">
        <input type="hidden" id="input"></input>
        <i class="dropdown icon"></i>
        <div class="default text">Members</div>
        <div class="menu">
            {% for choice in member_choices %}
            <div class="item">{{choice[1]}}</div>
            {% endfor %}
        </div>
      </div>
    </div>

    {{f.render_form_field(form.submit)}} 
    
    {{ f.end_form() }} 
  </div>
</div>

<script language='javascript'>
  $(document).ready(function () {
    $('#select-member').dropdown({
      onChange: function() {
        document.getElementById('member').value=document.getElementById('input').value;
      }
    })
  });
</script>
{% endblock %}