{% extends 'layouts/base.html' %} 
{% import 'macros/form_macros.html' as f %} 
{% import 'macros/check_password.html' as check %} 
{% block content %}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <a class="ui basic compact button" href="{{ url_for('admin.people_manager') }}">
      <i class="caret left icon"></i>
      Back to dashboard
    </a>
    <h2 class="ui header">
      Add New Volunteer
      <div class="sub header">Create a new volunteer account</div>
    </h2>

    {% set flashes = { 'error':
    get_flashed_messages(category_filter=['form-error']), 'warning':
    get_flashed_messages(category_filter=['form-check-email']), 'info':
    get_flashed_messages(category_filter=['form-info']), 'success':
    get_flashed_messages(category_filter=['form-success']) } %} {{
    
    f.begin_form(form, flashes) }}

    <div class="three fields">
      {{ f.render_form_field(form.first_name) }}
      {{ f.render_form_field(form.middle_initial) }}
      {{f.render_form_field(form.last_name) }}
    </div>
    {{ f.render_form_field(form.preferred_name) }}
    <div class="three fields">
      {{f.render_form_field(form.salutation) }}
      {{f.render_form_field(form.gender)}}
      {{f.render_form_field(form.birthdate)}}
    </div>

    <div class="ui header">Primary Address</div>
    <div class="field">
      <label>Address</label>
      <div class="field required">
        {{ form.primary_address1(placeholder = form.primary_address1.label.text) }}
      </div>
      <div class="field">
        {{ form.primary_address2(placeholder = form.primary_address2.label.text) }}
      </div>
    </div>

    <div class="three fields">
      {{ f.render_form_field(form.primary_city) }}
      {{ f.render_form_field(form.primary_state) }}
      {{ f.render_form_field(form.primary_zip_code) }}
    </div>

    {{ f.render_form_field(form.primary_country) }}
    {{ f.render_form_field(form.primary_metro_area) }}

    <div class="ui header">Secondary Address</div>
    {{ f.render_form_field(form.secondary_as_primary_checkbox) }}
    <div class="field">
      <label>Address</label>
      <div class="field">
        {{ form.secondary_address1(placeholder = form.secondary_address1.label.text) }}
      </div>
      <div class="field">
        {{ form.secondary_address2(placeholder = form.secondary_address2.label.text) }}
      </div>
    </div>

    <div class="three fields">
      {{ f.render_form_field(form.secondary_city) }}
      {{ f.render_form_field(form.secondary_state) }}
      {{ f.render_form_field(form.secondary_zip_code) }}
    </div>

    {{ f.render_form_field(form.secondary_country) }}
    {{ f.render_form_field(form.secondary_metro_area) }}

    <div class="ui header">Emergency Contact Information</div>
    {{ f.render_form_field(form.emergency_contact_name)}}
    {{ f.render_form_field(form.emergency_contact_relationship) }}
    {{ f.render_form_field(form.emergency_contact_phone_number) }}
    {{ f.render_form_field(form.emergency_contact_email_address) }}

    <div class="ui header">Contact Information</div>
    {{ f.render_form_field(form.primary_phone_number) }}
    {{ f.render_form_field(form.secondary_phone_number) }}

    {{ f.render_form_field(form.email_address)
    }}
    <div class="inline fields">
      {{ f.render_form_field(form.preferred_contact_method) }}
    </div>

    <div class="field">
      <div class="ui header">Services Volunteer Can Provide</div>
      <div class="ui styled fluid accordion">
        {% for i in range(service_categories | length) %}
        <div class="title">
          <i class="dropdown icon"></i>
          {{ service_categories[i+1] }}
        </div>
        <div class="content">
          {% for c in category_to_indices[i+1]%}
            {% for choice in form.provided_services %}
              {% if loop.index == c %}
                <div class="form-check">
                    {{ choice }}
                    {{ choice.label }}
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>

    {{f.render_form_field(form.notes)}} {{ f.form_message(flashes['error'],
    header='Something went wrong.', class='error') }} {{
    f.form_message(flashes['warning'], header='Check your email.',
    class='warning') }} {{ f.form_message(flashes['info'], header='Information',
    class='info') }} {{ f.form_message(flashes['success'], header='Success!',
    class='success') }}

    {{f.render_form_field(form.submit)}} {{
    f.end_form() }} {% if form.password %} {{ check.password_check('password',
    0) }} {% endif %}
  </div>
</div>

<script>
  $('#show-services').click(function () {
    $('#services').modal('show');
  });

  $('.ui.accordion').accordion({ exclusive: false });
</script>
{% endblock %}

<style>
  .ui.item.menu,
  .ui.item.menu .item {
    background: white;
    color: indigo;
  }

  .ui.item.menu .active.item {
    background: indigo;
    color: white;
  }
</style>