{% extends 'layouts/base.html' %} {% import 'macros/form_macros.html' as f %} {%
import 'macros/check_password.html' as check %} {% block scripts %} {% endblock
%} {% block content %}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <a class="ui basic compact button" href="{{ url_for('admin.people_manager') }}">
      <i class="caret left icon"></i>
      Back to dashboard
    </a>
    <h2 class="ui header">
      Add New Volunteer
      <div class="sub header">Create a new volunteer account</div>
    </h2>

    {% set flashes = {
    'error': get_flashed_messages(category_filter=['form-error']),
    'warning': get_flashed_messages(category_filter=['form-check-email']),
    'info': get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
    } %}

    {{ f.begin_form(form, flashes) }}

    <div class="two fields">
      {{ f.render_form_field(form.first_name) }}
      {{ f.render_form_field(form.last_name) }}
    </div>
    <div class="two fields">
      {{ f.render_form_field(form.middle_initial) }}
      {{ f.render_form_field(form.salutation) }}
    </div>
    {{f.render_form_field(form.gender)}}

    <div class="two fields">
      {{ f.render_form_field(form.preferred_name) }}
      {{ f.render_form_field(form.pronoun) }}
    </div>

    <div class="ui header">Contact Information</div>
    {{ f.render_form_field(form.primary_address1) }}
    {{ f.render_form_field(form.home_phone) }}
    {{ f.render_form_field(form.email) }}

    <div class = "field">
      <button class = "ui button" id = "show-services">Services</button>
    </div>

    <div class="two fields">
      {{ f.render_form_field(form.availability_day) }}
      {{ f.render_form_field(form.availability_time) }}
    </div>

    <div class = "field">
      <button class = "ui button" id = "show-vettings">Vettings</button>
    </div>
    
    {{f.render_form_field(form.notes)}}

    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
    {{ f.form_message(flashes['info'], header='Information', class='info') }}
    {{ f.form_message(flashes['success'], header='Success!', class='success') }}

    {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
    {{ f.render_form_field(field) }}
    {% endfor %}

    {{ f.end_form() }}
    {% if form.password %}
    {{ check.password_check('password', 0) }}
    {% endif %}
  </div>
</div>


<div class="ui modal" id = "services">
  <i class="close icon"></i>
  <div class="header">
    Services Provided By
  </div>
  <div class="ui styled fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Name of Category
    </div>
    <div class="content">
      <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Name of Category
    </div>
    <div class="content">
      <p class="transition hidden">There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Name of Category
    </div>
    <div class="content">
      <p class="transition hidden">Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
      <p class="transition hidden">A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
    </div>
  </div>
</div>

<div class="ui modal" id = "vettings">
  <i class="close icon"></i>
  <div class="header">
    Vettings
  </div>
  <div id="context1">
    <div class="ui two item menu">
      <a class="item active" data-tab="first">Add Service Vetting</a>
      <a class="item" data-tab="second">Is Fully Vetted</a>
    </div>
    <div class="ui active tab segment" data-tab="first">
      <div>
        <h3 class="header">
          Add Service Vetting
        </h3>
    
        {% set flashes = {
        'error': get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info': get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
        } %}
    
        {{ f.begin_form(add_vetting, flashes) }}
    
        {{ f.render_form_field(add_vetting.vetting_type) }}
        <div class="two fields">
          {{ f.render_form_field(add_vetting.vetting_date) }}
          {{ f.render_form_field(add_vetting.vetting_expiration) }}
        </div>
        {{f.render_form_field(add_vetting.vetting_additional_data)}}
        {{f.render_form_field(add_vetting.vetting_notes)}}
    
        {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
        {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
        {{ f.form_message(flashes['info'], header='Information', class='info') }}
        {{ f.form_message(flashes['success'], header='Success!', class='success') }}
    
        {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
        {{ f.render_form_field(add_vetting.submit) }}
        {% endfor %}
        {{ f.end_form() }}
      </div>
    </div>
    <div class="ui tab segment" data-tab="second">
      <div>
        <h3 class="header">
          Is Fully Vetted
        </h3>
        {% set flashes = {
        'error': get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info': get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
        } %}
    
        {{ f.begin_form(is_fully_vetted, flashes) }}
    
        {{ f.render_form_field(is_fully_vetted.volunteer_fully_vetted_checkbox) }}
        {{ f.render_form_field(is_fully_vetted.vetting_who_entered) }}
    
        {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
        {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
        {{ f.form_message(flashes['info'], header='Information', class='info') }}
        {{ f.form_message(flashes['success'], header='Success!', class='success') }}

        {{ f.render_form_field(is_fully_vetted.submit) }}
    
        {{ f.end_form() }}
      </div>
    </div>
  </div>
</div>

<script>
  $('#show-services').click(function(){
    $('#services').modal('show');
  });

  $('.ui.accordion')
  .accordion({'exclusive': false});

  $('#show-vettings').click(function(){
    $('#vettings').modal('show');
  });

  $('#context1 .menu .item')
  .tab({
    context: $('#context1')
  });
</script>
{% endblock %}