{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint,
description=None, icon=None) %}
<a class="column" href="{{ url_for(endpoint) }}">
  <div class="ui padded segment">
    <h3 class="ui header">
      {% if icon is not none %}
      <i class="{{ icon }}"></i>
      {% endif %}
      <div class="content">
        {{ title }} {% if description is not none %}
        <div class="sub header">{{ description }}</div>
        {% endif %}
      </div>
    </h3>
  </div>
</a>
{% endmacro %}

{% block content %}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <h2 class="ui header">
      Admin Dashboard
    </h2>
    <h3>Account Manager</h3>
    <div class="ui three column stackable grid">
      {{ dashboard_option('Registered User', 'admin.registered_users',
      description='View and manage user accounts', icon='users icon') }}
      {{ dashboard_option('Add New User', 'admin.new_user',
      description='Create a new user account', icon='add user icon') }}
      {{ dashboard_option('Invite New User', 'admin.invite_user',
      description='Invites a new user to create their own account', icon='add user icon') }}
    </div>
    <hr />
    <h3>System Manager</h3>
    <div class="ui two column stackable grid">
      {{ dashboard_option('Edit Services', 'admin.index',
      description='Add/Remove/Edit Services', icon='users icon') }}
      {{ dashboard_option('Edit Service Categories', 'admin.index',
      description='Add/Remove/Edit Service Categories', icon='add user icon') }}
      {{ dashboard_option('Edit Metro Areas', 'admin.index',
      description='Add/Remove/Edit Metro Areas', icon='add user icon') }}
      {{ dashboard_option('Edit Destination Addresses', 'admin.index',
      description='Add/Remove/Edit Destination Addresses', icon='add user icon') }}

    </div>
  </div>
  {% endblock %}