{% extends 'layouts/base.html' %} {% import 'macros/form_macros.html' as f %} {%
import 'macros/check_password.html' as check %} {% block scripts %} {% endblock
%} {% block content %}
<div class="ui stackable centered grid container">
  <div class="twelve wide column">
    <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
      <i class="caret left icon"></i>
      Back to dashboard
    </a>
    <h2 class="ui header">
      Member Manager
      <div class="sub header">Create a new member account</div>
    </h2>

    {% set flashes = { 'error':
    get_flashed_messages(category_filter=['form-error']), 'warning':
    get_flashed_messages(category_filter=['form-check-email']), 'info':
    get_flashed_messages(category_filter=['form-info']), 'success':
    get_flashed_messages(category_filter=['form-success']) } %} {{
    f.begin_form(form, flashes) }} {{ f.render_form_field(form.first_name) }} {{
    f.render_form_field(form.middle_initial)}} {{
    f.render_form_field(form.last_name) }} {{
    f.render_form_field(form.preferred_name) }}
    {{
    f.render_form_field(form.salutation) }} 
    {{ f.render_form_field(form.pronoun) }}

    <div> Primary Address </div>
                {{ f.render_form_field(form.primary_country)}}
                {{ f.render_form_field(form.primary_address1)}}
                {{ f.render_form_field(form.primary_address2)}}
                {{ f.render_form_field(form.primary_city)}}
                {{ f.render_form_field(form.primary_state)}}
                {{ f.render_form_field(form.primary_zip_code)}}
                {{ f.render_form_field(form.primary_time_zone)}}
                {{ f.render_form_field(form.primary_metro_area)}}
                {{ f.render_form_field(form.primary_phone)}} -->

    <!-- <div> Secondary Address </div>
                {{f.render_form_field(form.secondary_as_primary_checkbox)}}
                {{ f.render_form_field(form.secondary_country)}}
                {{ f.render_form_field(form.secondary_address1)}}
                {{ f.render_form_field(form.secondary_address2)}}
                {{ f.render_form_field(form.secondary_city)}}
                {{ f.render_form_field(form.secondary_state)}}
                {{ f.render_form_field(form.secondary_zip_code)}}
                {{ f.render_form_field(form.secondary_time_zone)}}
                {{ f.render_form_field(form.secondary_metro_area)}}
                {{ f.render_form_field(form.secondary_phone)}}

                {{ f.render_form_field(form.phone_number)}}
                {{ f.render_form_field(form.cell_number) }}
                {{ f.render_form_field(form.email) }}

                {{ f.render_form_field(form.notes_volunteers) }}
                {{ f.render_form_field(form.notes_office_staff)}}

                {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                {{ f.form_message(flashes['info'], header='Information', class='info') }}
                {{ f.form_message(flashes['success'], header='Success!', class='success') }}

    {% for field in form | selectattr('type', 'equalto', 'SubmitField') %} {{
    f.render_form_field(field) }} {% endfor %} {{ f.end_form() }}
  </div>
</div>
{% endblock %}
