{% extends "base.html" %} {% block content %}
<form class="basic-member-information" method="POST" action="">
  <div class="header" style="margin-bottom: 10px">
    {{ form.hidden_tag()}}
    <h4 class="ui dividing header">General Information</h4>
    <div class="field">
      <label> {{ form.member_number.label}}</label>
      {{form.member_number}} * {% if form.member_number.errors %}
      <div class="ui error message">{{ form.member_number.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.salutation.label}}</label>
      {{form.salutation}} {% if form.salutation.errors %}
      <div class="ui error message">{{ form.salutation.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.first_name.label}}</label>
      {{form.first_name}} * {% if form.first_name.errors %}
      <div class="ui error message">{{ form.first_name.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.middle_initial.label}}</label>
      {{form.middle_initial}} {% if form.middle_initial.errors %}
      <div class="ui error message">{{ form.middle_initial.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.last_name.label}}</label>
      {{form.last_name}} * {% if form.last_name.errors %}
      <div class="ui error message">{{ form.last_name.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.gender.label}}</label>
      {{form.gender}} * {% if form.gender.errors %}
      <div class="ui error message">{{ form.gender.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.birthday.label}}</label>
      {{form.birthday}} {% if form.birthday.errors %}
      <div class="ui error message">{{ form.birthday.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.preferred_name.label}}</label>
      {{form.preferred_name}} {% if form.preferred_name.errors %}
      <div class="ui error message">{{ form.preferred_name.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.mailing_name.label}}</label>
      {{form.mailing_name}} {% if form.mailing_name.errors %}
      <div class="ui error message">{{ form.mailing_name.errors}}</div>
      {% endif %}
    </div>
    <small class="recommendation">
      Enter the name of the individual as you would prefer it to appear on
      mailing labels, or leave it blank and the system will automatically
      provide a suggested default.
    </small>
  </div>

  <div class="header" style="margin-bottom: 10px">
    <h4 class="ui dividing header">Spouse Information</h4>
    <div class="field">
      <label> {{ form.spouse_first_name.label }} </label>
      {{ form.spouse_first_name }} {% if form.spouse_first_name.errors %}
      <div class="ui error message">{{ form.spouse_first_name.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.spouse_last_name.label }} </label>
      {{ form.spouse_last_name }} {% if form.spouse_last_name.errors %}
      <div class="ui error message">{{ form.spouse_last_name.errors}}</div>
      {% endif %}
    </div>
  </div>

  <div class="header" style="margin-bottom: 10px">
    <h4 class="ui dividing header">Primary Address</h4>
    <div class="field">
      <label> {{ form.country.label}}</label>
      {{form.country}} {% if form.country.errors %}
      <div class="ui error message">{{ form.country.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.address1.label}}</label>
      {{form.address1}} {% if form.address1.errors %}
      <div class="ui error message">{{ form.address1.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.address2.label}}</label>
      {{form.address2}} {% if form.address2.errors %}
      <div class="ui error message">{{ form.address2.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.city.label}}</label>
      {{form.city}} {% if form.city.errors %}
      <div class="ui error message">{{ form.city.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.state.label}}</label>
      {{form.state}} {% if form.state.errors %}
      <div class="ui error message">{{ form.state.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.zip_code.label}}</label>
      {{form.zip_code}} {% if form.zip_code.errors %}
      <div class="ui error message">{{ form.zip_code.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.time_zone.label}}</label>
      {{form.time_zone}} {% if form.time_zone.errors %}
      <div class="ui error message">{{ form.time_zone.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.metro_area.label}}</label>
      {{form.metro_area}} {% if form.metro_area.errors %}
      <div class="ui error message">{{ form.metro_area.errors}}</div>
      {% endif %}
    </div>
    <div class="field">
      <label> {{ form.home_phone.label}}</label>
      {{form.home_phone}} {% if form.home_phone.errors %}
      <div class="ui error message">{{ form.home_phone.errors}}</div>
      {% endif %}
    </div>
  </div>
  <div>{{ form.submit(class = "ui button") }}</div>
</form>
{% endblock content %}
