{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui text container">
  <h1>Transportation Request</h1>
  <form>
    <div class="form-group">
      {{ form.requested_date.label}}
      {{ form.requested_date }}
    </div>
    <div class="form-group">
      {{ form.initial_pickup.label}}
      {{ form.initial_pickup }}
    </div>
    <div class="form-group">
      {{ form.appointment.label}}
      {{ form.appointment }}
    </div>
    <div class="form-group">
      {{ form.return_pickup.label}}
      {{ form.return_pickup }}
    </div>
    <div class="form-group">
      {{ form.drop_off.label}}
      {{ form.drop_off }}
    </div>
    <div class="form-group">
      {{ form.time_flexible.label}}
      {{ form.time_flexible }}
    </div>
    <div class="form-group">
      {{ form.priority.label}}
      {{ form.priority }}
    </div>
    <div class="form-group">
      {{ form.description.label}}
      {{ form.description }}
    </div>
    <div class="form-group">
      {{ form.service_category.label}}
      {{ form.service_category }}
    </div>
    <div class="form-group">
      {{ form.service.label}}
      {{ form.service }}
    </div>
    <div class="form-group">
      {{ form.starting_location.label}}
      {{ form.starting_location }}
    </div>
    <div class="form-group">
      {{ form.destination.label}}
      {{ form.destination }}
    </div>
</div>
<div class="form-group">
  {{ form.save}}
</div>
<div class="form-group">
  {{ form.cancel }}
</div>
</form>

{% endblock %}