{% extends "base.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <h3>Search Request</h3>

    <fieldset class="form-group">
      <div class="ui form">
        
        <!--Dropdown components-->
        <div class="dropdown">
          <div class="field" >
            <label> {{form.request_type.label}}</label>
            {{ form.request_type(size=5, class='form-control',  multiple="multiple") }}
          </div>
          <div class="field" >
            <label> {{form.request_status.label}}</label>
            {{ form.request_status(size=7, class='form-control',  multiple="multiple") }}
          </div>
          <div class="field">
            <label> {{form.service_category.label}}</label>
            {{ form.service_category(size=9, class='form-control',  multiple="multiple") }}
          </div>
          <div class="field">
            <label> {{form.provider_type.label}}</label>
            {{ form.provider_type(size=4, class='form-control',  multiple="multiple") }}
          </div>
        </div>

        <div class="field">
          <label> {{form.priority.label}}</label>
          {{form.priority}}
        </div>
        <div class="field">
          <label> {{form.show.label}}</label>
          {{form.show}}
        </div>
        <div class="form-group">
          <label> {{form.service_req_from.label}} </label>
          {{ form.service_req_from }}
        </div>
        <div class="form-group">
          <label>{{ form.service_req_to.label}}</label>
          {{ form.service_req_to }}
        </div>

      </div>
    </fieldset>

    <!--Reset and Search Buttons-->
    <div class="form-group">
      {{ form.reset(class="btn btn-outline-info") }}
    </div>
    <div class="form-group">
      {{ form.search(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}
